.site-admin
	.container
		.row
			aside.site-sidebar.col-md-3(role="complementary")
				nav(role="navigation", data-js="site-sidebar--nav")
					ul.site-sidebar--list(role="list")
						li.site-sidebar--listitem(role="listitem", class=(dbId === 'my-account' ? 'active' : ''))
							a.site-sidebar--link(href="dashboard.html") My Account
						li.site-sidebar--listitem(role="listitem", class=(dbId === 'my-virtual-teams' ? 'active' : ''))
							a.site-sidebar--link(href="db-my-virtual-teams.html") My Virtual Teams
						li.site-sidebar--listitem(role="listitem", class=(dbId === 'my-reviews' ? 'active' : ''))
							a.site-sidebar--link(href="db-my-reviews.html") My Reviews
						li.site-sidebar--listitem(role="listitem", class=(dbId === 'my-businesses' ? 'active' : ''))
							a.site-sidebar--link(href="db-my-businesses.html") My Businesses
						li.site-sidebar--listitem(role="listitem", class=(dbId === 'my-recommended-businesses' ? 'active' : ''))
							a.site-sidebar--link(href="db-my-recommended-businesses.html") My Recommended Businesses
						li.site-sidebar--listitem(role="listitem", class=(dbId === 'my-followers' ? 'active' : ''))
							a.site-sidebar--link(href="db-my-followers.html") My Followers
						li.site-sidebar--listitem(role="listitem", class=(dbId === 'businesses-following' ? 'active' : ''))
							a.site-sidebar--link(href="db-businesses-following.html") Businesses I'm Following
						li.site-sidebar--listitem(role="listitem", class=(dbId === 'refer-bisring' ? 'active' : ''))
							a.site-sidebar--link(href="db-refer-bisring.html") Refer BisRing
						li.site-sidebar--listitem(role="listitem", class=(dbId === 'bisring-points' ? 'active' : ''))
							a.site-sidebar--link(href="db-bisring-points.html") BisRing Points
				a.btn.btn-primary.btn-block.site-sidebar--addbusiness(href="#") Add Business
			main.site-content.col-md-9(role="main")
				h1(role="heading") #{pageTitle}