footer.site-footer(role="contentinfo")
	.container
		.row
			.col
				nav.site-footer--navigation(role="navigation")
					a.site-footer--navigation-link(href="#") Home
					a.site-footer--navigation-link(href="#") Dashboard
					a.site-footer--navigation-link(href="#") About us
					a.site-footer--navigation-link(href="#") Why bisRing?
					a.site-footer--navigation-link(href="#") FAQs
					a.site-footer--navigation-link(href="#") Careers
					a.site-footer--navigation-link(href="#") Contact us
					a.site-footer--navigation-link(href="#") Press
				nav.site-footer--social(role="navigation")
					a.site-footer--navigation-link(href="#")
						i.fa.fa-facebook-official(aria-hidden="true")
					a.site-footer--navigation-link(href="#")
						i.fa.fa-twitter(aria-hidden="true")
					a.site-footer--navigation-link(href="#")
						i.fa.fa-linkedin(aria-hidden="true")
		.row
			.col
				.site-footer--copyright(role="navigation")
					span.site-footer--copyright-year
						| &copy; 2018 BisRing.com
					span.site-footer--copyright-rights
						| All Rights Reserved
					a.site-footer--copyright-link(href="#") Privacy Policy
					a.site-footer--copyright-link(href="#") Terms of Use
				aside.site-footer--creator(role="navigation")
					span.site-footer--creator-title Designed by:
					span.site-footer--creator-content Baustein Design