footer.site-footer(role="contentinfo")
	.container
		.row.row--top
			.column.col-md-8.col-sm-12
				nav.site-footer--navigation(role="navigation")
					a.site-footer--navigation-link(role="link", href="index.html") Home
					a.site-footer--navigation-link(role="link", href="db-my-account.html") Dashboard
					a.site-footer--navigation-link(role="link", href="about-us.html") About us
					a.site-footer--navigation-link(role="link", href="why-bisring.html") Why bisRing?
					a.site-footer--navigation-link(role="link", href="faqs.html") FAQs
					a.site-footer--navigation-link(role="link", href="careers.html") Careers
					a.site-footer--navigation-link(role="link", href="contact-us.html") Contact us
					a.site-footer--navigation-link(role="link", href="press.html") Press
			.column.col-md-4.col-sm-12
				nav.site-footer--social(role="navigation")
					a.site-footer--social-link(role="link", href="http://www.facebook.com", target="_blank")
						span.fab.fa-facebook-f
					a.site-footer--social-link(role="link", href="http://www.twitter.com", target="_blank")
						span.fab.fa-twitter
					a.site-footer--social-link(role="link", href="http://www.linkedin.com", target="_blank")
						span.fab.fa-linkedin-in
		.row.row--bottom
			.column.col-md-8.col-sm-12
				.site-footer--copyright(role="navigation")
					span.site-footer--copyright-year
						| &copy; 2018 BisRing.com
					span.site-footer--copyright-rights
						| All Rights Reserved
					a.site-footer--copyright-link(role="link", href="privacy-policy.html") Privacy Policy
					a.site-footer--copyright-link(role="link", href="terms-of-use.html") Terms of Use
			.column.col-md-4.col-sm-12
				aside.site-footer--creator
					span.site-footer--creator-title Designed by: 
					a.site-footer--creator-link(role="link", href="http://baustein.ca", target="_blank") Baustein Design