footer.site-footer(role="contentinfo")
	.container
		.row.row--top
			.column.col-md-8.col-sm-12
				nav.site-footer--navigation(role="navigation")
					a.site-footer--navigation-link(role="link", href="index.html") Home
					a.site-footer--navigation-link(role="link", href="db-my-account.html") Dashboard
					a.site-footer--navigation-link(role="link", href="about-us.html") About us
					a.site-footer--navigation-link(role="link", href="why-bisring.html") Why bisRing?
					a.site-footer--navigation-link(role="link", href="faqs.html") FAQs
					a.site-footer--navigation-link(role="link", href="careers.html") Careers
					a.site-footer--navigation-link(role="link", href="contact-us.html") Contact us
					a.site-footer--navigation-link(role="link", href="press.html") Press
			.column.col-md-4.col-sm-12
				nav.site-footer--social(role="navigation")
					a.site-footer--social-link(role="link", href="http://www.facebook.com", target="_blank")
						span.fab.fa-facebook-f
					a.site-footer--social-link(role="link", href="https://twitter.com/bisringinc", target="_blank")
						span.fab.fa-twitter
					a.site-footer--social-link(role="link", href="http://www.linkedin.com", target="_blank")
						span.fab.fa-linkedin-in
		.row.row--bottom
			.column.col-md-6.col-sm-12
				.site-footer--copyright(role="navigation")
					span.site-footer--copyright-year
						| &copy; 2018 BisRing.com
					span.site-footer--copyright-rights
						| All Rights Reserved.
					a.site-footer--copyright-link(role="link", href="privacy-policy.html") Privacy Policy
					a.site-footer--copyright-link(role="link", href="terms-of-use.html") Terms &amp; Conditions
			.column.col-md-6.col-sm-12.text-right.d-flex.align-items-start.justify-content-end
				table(width='135' border='0' cellpadding='2' cellspacing='0' title='Click to Verify - This site chose GeoTrust SSL for secure e-commerce and confidential communications.')
					tr
						td(width='135' align='center' valign='top')
							script(type='text/javascript' src='https://seal.geotrust.com/getgeotrustsslseal?host_name=www.bisring.com&size=S&lang=en')
							br
							a(href='http://www.geotrust.com/ssl/' target='_blank' style='color:#000000; text-decoration:none; font:bold 7px verdana,sans-serif; letter-spacing:.5px; text-align:center; margin:0px; padding:0px;padding-right:1rem;')
				a(href='https://www.braintreegateway.com/merchants/YOUR_MERCHANT_ID/verified' target='_blank')
					img(src='https://s3.amazonaws.com/braintree-badges/braintree-badge-wide-dark.png' width='280px' height='44px' border='0')
footer.mobile-footer.d-lg-none.d-md-none.p-2
	hr
	.site-footer--copyright.d-flex.justify-content-between(role="navigation")
		div
			span.site-footer--copyright-year
				| &copy; 2018 BisRing.com
			span.site-footer--copyright-rights
				| All Rights Reserved.
		nav.site-footer--social.d-inline(role="navigation")
			a.site-footer--social-link(role="link", href="http://www.facebook.com", target="_blank")
				span.fab.fa-facebook-f
			a.site-footer--social-link(role="link", href="https://twitter.com/bisringinc", target="_blank")
				span.fab.fa-twitter
			a.site-footer--social-link(role="link", href="http://www.linkedin.com", target="_blank")
				span.fab.fa-linkedin-in

