header.site-header.site-header--fixed(role="header", data-js="site-header")
	img.site-header--img.hidden(src="images/bg-header-home.png", alt="Background for site header section", role="img")
	include ../menus/navigation
	.container
		include ../menus/sidenav-standard
		.site-header--wrap
			form.site-header--form(role="form")
				.form-group.site-header--service
					label.sr-only(for='selectService') Please select a Service
					select#selectService.selectpicker
						option Services
						option For Rents
						option For Sales
				.form-group.site-header--search
					.input-group
						label.sr-only(for='inputFindService') Find a Service
						input#inputFindService.form-control(type='text', placeholder="Find a Service", aria-label="Find a Service", aria-describedby='inputFindService', data-js="findServiceTypeahead")
						.input-group-append
							button.btn(type='button')
								span.fas.fa-search
				.form-group.site-header--location
					label.sr-only(for='selectLocation') Please select a Location
					select#selectLocation.selectpicker
						optgroup(label="America")
							option Montreal, Ontario, Canada
							option Toronto, Ontario, Canada
						optgroup(label="Asia")
							option New Delhi, India
							option Thimbirigasyaya, Sri Lanka
							option Tokyo, Japan
						optgroup(label="Australia")
							option Sydney, Australia
							option Christchurch, New Zealand
			.site-header--footer
				nav.site-header--breadcrumb(aria-label='breadcrumb', role="navigation")
					ol.breadcrumb(role="list")
						li.breadcrumb-item(role="listitem")
							a.breadcrumb-link(href='#', role="link") Services
						li.breadcrumb-item(role="listitem")
							a.breadcrumb-link(href='#', role="link") Contractors
						li.breadcrumb-item(role="listitem")
							a.breadcrumb-link(href='#', role="link") Plumbers
						//- li.breadcrumb-item.active(aria-current='page', role="listitem")
						//- 	span.breadcrumb-text Plumbers
				a.site-header--maps(href="#", role="link", data-js="site-header--maps-toggle")
					| Hide Map
		footer.site-header--sticky(role="footer")
			a.btn.site-header--sticky-link(href="#", role="link", data-toggle="modal", data-target="#modalQuickList")
				span.site-header--sticky-icon.fas.fa-thumbtack
				| Quick List
				span.site-header--sticky-badge.badge.badge-light 2
			a.btn.site-header--sticky-link(href="register.html", role="link") Register for free
