header.site-header(role="header", data-js="site-header")
	img.site-header--img.hidden(src="images/bg-header-home.png", alt="Background for site header section")
	.container
		include ../menus/navigation
		include ../menus/offcanvas-home
		.site-header--wrap
			img.site-header--logo(src="images/logo-bisring-white.png", alt="BisRing")
			h1.site-header--title Find All Your Real Estate Needs and More in One Location.
			form.site-header--form
				.form-group.site-header--service
					label.sr-only(for='selectService') Please select a Service
					select#selectService.selectpicker
						option Services
						option For Rents
						option For Sales
				.form-group.site-header--search
					.input-group
						label.sr-only(for='inputFindService') Find a Service
						input#inputFindService.form-control(type='text', placeholder="Find a Service", aria-label="Find a Service", aria-describedby='inputFindService')
						.input-group-append
							button.btn(type='button')
								span.fa.fa-search(aria-hidden="true")
				.form-group.site-header--location
					label.sr-only(for='selectLocation') Please select a Location
					select#selectLocation.selectpicker
						optgroup(label="America")
							option California, United States
							option Toronto, Canada
						optgroup(label="Asia")
							option New Delhi, India
							option Thimbirigasyaya, Sri Lanka
							option Tokyo, Japan
						optgroup(label="Australia")
							option Sydney, Australia
							option Christchurch, New Zealand
		footer.site-header--sticky
			a.btn.site-header--sticky-link.disabled(href="#")
				span.site-header--sticky-icon.fa.fa-thumb-tack(aria-hidden="true")
				| Quick List
				span.site-header--sticky-badge.badge.badge-light 2
			a.btn.site-header--sticky-link(href="#") Register for free