header.site-header.site-header--fixed(role="header")
	include ../menus/navigation-dashboard
	.container
		include ../menus/sidenav-dashboard
		footer.site-header--sticky(role="footer")
			a.btn.site-header--sticky-link(href="register.html", role="link") Add Business