header.site-header.site-header--fixed(role="header", data-js="site-header" style="background-image:url('images/header_default_banner.jpg'); background-repeat:no-repeat;background-size:cover;")
	include ../menus/navigation
	include ../menus/sidenav-standard
	.site-header--wrap
		div.site-header--form
			.form-group.site-header--service
				label.sr-only(for='selectService') Please select a Service
				select#selectService.selectpicker(data-js="selectService" data-none-selected-text="Select Category")
					option(value="default")
					option(value="services") Services
					option(value="for-rents") For Rent
					option(value="for-sales") For Sales
			.form-group.site-header--search
				.input-group
					label.sr-only(for='inputFindService') Find a Business
					input#inputFindService.form-control(type='text', placeholder="Find a Business", aria-label="Find a Business", aria-describedby='inputFindService')
					.awesomplete
						input#selectLocation.form-control(type='text', placeholder="Select a Location", aria-label="Select a Location", aria-describedby='selectLocation' data-list="#mylist")
						ul#mylist.hidden
							option Ada
							option Java
							option JavaScript
							option Brainfuck
							option LOLCODE
							option Node.js
							option Ruby on Rails
					.input-group-append
						button.btn(type='button')
							span.fas.fa-search
		footer.site-header--sticky(role="footer")
			a.btn.site-header--sticky-link.disabled(href="#", role="link", data-toggle="modal", data-target="#modalQuickList")
				span.site-header--sticky-icon.fas.fa-thumbtack
				| Quick List
				span.site-header--sticky-badge.badge.badge-light 2
			a.btn.site-header--sticky-link(href="register.html", role="link") Register for free
