header.site-header(role="header", data-js="site-header")
	figure.hidden
		img.services(src="images/bg-header-home.png", alt="Services", role="img", data-js="banner-services")
		img.for-rents(src="http://placebear.com/1200/600", alt="For Rents", role="img", data-js="banner-for-rents")
		img.for-sales(src="http://placebear.com/1300/600", alt="For Sales", role="img", data-js="banner-for-sales")
	.container
		include ../menus/navigation
		include ../menus/sidenav-front
		.site-header--wrap
			img.site-header--logo(src="images/logo-bisring-white.png", alt="BisRing", role="img")
			h1.site-header--title(role="heading") Find All Your Real Estate Needs and More in One Location.
			form.site-header--form(role="form")
				.form-group.site-header--service
					label.sr-only(for='selectService') Please select a Service
					select#selectService.selectpicker(data-js="selectService")
						option(value="services") Services
						option(value="for-rents") For Rents
						option(value="for-sales") For Sales
				.form-group.site-header--search
					.input-group
						label.sr-only(for='inputFindService') Find a Service
						input#inputFindService.form-control(type='text', placeholder="Find a Service", aria-label="Find a Service", aria-describedby='inputFindService')
						.input-group-append
							button.btn(type='button')
								span.fas.fa-search
				.form-group.site-header--location
					label.sr-only(for='selectLocation') Please select a Location
					select#selectLocation.selectpicker
						optgroup(label="America")
							option Montreal, Ontario, Canada
							option Toronto, Ontario, Canada
						optgroup(label="Asia")
							option New Delhi, India
							option Thimbirigasyaya, Sri Lanka
							option Tokyo, Japan
						optgroup(label="Australia")
							option Sydney, Australia
							option Christchurch, New Zealand
		footer.site-header--sticky(role="footer")
			a.btn.site-header--sticky-link.disabled(href="#", role="link", data-toggle="modal", data-target="#modalQuickList")
				span.site-header--sticky-icon.fas.fa-thumbtack
				| Quick List
				span.site-header--sticky-badge.badge.badge-light 2
			a.btn.site-header--sticky-link(href="register.html", role="link") Register for free