header.site-header(role="header", data-js="site-header")
	img.site-header--img.hidden(src="images/bg-header-home.png", alt="Background for site header section", role="img")
	.container
		include ../menus/navigation
		include ../menus/sidenav-front
		.site-header--wrap
			img.site-header--logo(src="images/logo-bisring-white.png", alt="BisRing", role="img")
			h1.site-header--title(role="heading") Find All Your Real Estate Needs and More in One Location.
			form.site-header--form(role="form")
				.form-group.site-header--service
					label.sr-only(for='selectService') Please select a Service
					select#selectService.selectpicker
						option Services
						option For Rents
						option For Sales
				.form-group.site-header--search
					.input-group
						label.sr-only(for='inputFindService') Find a Service
						input#inputFindService.form-control(type='text', placeholder="Find a Service", aria-label="Find a Service", aria-describedby='inputFindService')
						.input-group-append
							button.btn(type='button')
								span.fas.fa-search
				.form-group.site-header--location
					label.sr-only(for='selectLocation') Please select a Location
					select#selectLocation.selectpicker
						optgroup(label="America")
							option Montreal, Ontario, Canada
							option Toronto, Ontario, Canada
						optgroup(label="Asia")
							option New Delhi, India
							option Thimbirigasyaya, Sri Lanka
							option Tokyo, Japan
						optgroup(label="Australia")
							option Sydney, Australia
							option Christchurch, New Zealand
		footer.site-header--sticky(role="footer")
			a.btn.site-header--sticky-link.disabled(href="#", role="link")
				span.site-header--sticky-icon.fas.fa-thumbtack
				| Quick List
				span.site-header--sticky-badge.badge.badge-light 2
			a.btn.site-header--sticky-link(href="register.html", role="link") Register for free