.site-admin
	.container-fluid
		.row
			// Dasboard Sidebar Menu
			aside.admin-nav.col-lg-3.col-md-4
				include db-sidebar-navigation
			// Dasboard Content
			main.admin-content.col-lg-9.col-md-8(role="main")
				h1.page-title
					i.fas.fa-briefcase.mr-2
					| Add Business
				form(action="")
					// Select Type of Business
					section#selectTypeofBusiness.admin-blocks
						header.d-flex
							h2 Select Type of Business
						section
							.custom-control.custom-radio.custom-control-inline
								input#serviceType.custom-control-input(type="radio" name="businessType" value="service")
								label.custom-control-label(for="serviceType") Service
							.custom-control.custom-radio.custom-control-inline
								input#rentType.custom-control-input(type="radio" name="businessType" value="forrent")
								label.custom-control-label(for="rentType") For Rent
							.custom-control.custom-radio.custom-control-inline
								input#saleType.custom-control-input(type="radio" name="businessType" value="forsale")
								label.custom-control-label(for="saleType") For Sale
					// Select Business Category
					section#selectBusinessCategory.admin-blocks
						.row
							.cat-add.col-lg-8.col-md-7
								header
									h2 Select Primary Category
								.row.align-items-center
									.col-sm-8
										.form-group
												label.invisible(for="#businessCategory") Select a Primary Category
												select#primaryCategory.form-control.selectpicker(title="Choose Category...", data-live-search="true", required)
													option
													option(value='TOR') Contractor
													option(value='MON') Contractor
													option(value='OTA') Contractor
													option(value='VAN') Contractor
								header.mt-5
									h2 Select Business Category
								.row.align-items-center
									.col-sm-8
										.form-group
												label.invisible(for="#businessCategory") Choose a Category
												select#businessCategory.form-control.selectpicker(title="Choose Category...", data-live-search="true", required)
													option
													option(value='TOR') Finance
													option(value='MON') Plumber
													option(value='OTA') Contractor
													option(value='VAN') Decorator
									//- .col-sm-4
									//- 	button#businessCategoryAdd.btn.btn-secondary.btn-lg.btn-block(type="button") Add
							.cat-cost.col-lg-4.col-md-5
								p You have used&nbsp;
									span.categories-available 3
									|  out of&nbsp;
									span.categories-total 4
									|  available Business Categories
								h6 Esitmated Cost:
								h4
									span.cost $72.00
									|  /
									span.period month
								a#businessCategoryBuy.btn.btn-secondary.btn-block.btn-lg(href="#", role="link", data-toggle='modal', data-target='#modalBuyCategories') Buy More Categories
					// General
					section#businessGeneral.admin-blocks
						header.d-flex
							h2 General
						section
							.form-row
								.col-md
									.form-group
										label(for="#businessName") Business Name
										input#businessName.form-control(type="text", placeholder="Enter the business name", value="", required)
							.form-row
								.col-md
									.form-group
										label(for="#businessDescription") Business Description (max 500 characters)
										textarea#businessDescription.form-control(placeholder="Enter a Business Description", value="", rows="1", required)
							.form-row
								.col-md
									.form-group
										label(for="#businessWebsite") Wesite URL (optional)
										input#businessWebsite.form-control(type="url", placeholder="Enter the URL for the business", value="", required)
					// Primary Business Address
					section#businessAddress.admin-blocks
						header.d-flex
							h2 Primary Business Address
						section
							.form-row
								.col-md
									.form-group
										label(for="#businessStreet") Address Line #1
										input#businessStreet.form-control(type="text", placeholder="Enter an Address", value="", required)
								.col-md
									.form-group
										label(for="#businessLine02") Address Line #2 (optional)
										input#businessLine02.form-control(type="text", placeholder="Enter a Suite or Apt. #", value="", required)
							.form-row
								.col-lg-6
									.form-group
										label(for="#businessCity") City
										input#businessCity.form-control(type="text", placeholder="Enter a City", value="", required)
								.col-lg-4.col-md-6
									.form-group
										label(for="#businessProvince") Province/State
										select#businessProvince.form-control.selectpicker(title="Select a Province or State", regquired)
											option(value='AB') Alberta
											option(value='BC') British Columbia
											option(value='MB') Manitoba
											option(value='NB') New Brunswick
											option(value='NL') Newfoundland and Labrador
											option(value='NS') Nova Scotia
											option(value='ON') Ontario
											option(value='PE') Prince Edward Island
											option(value='QC') Quebec
											option(value='SK') Saskatchewan
											option(value='NT') Northwest Territories
											option(value='NU') Nunavut
											option(value='YT') Yukon
								.col-lg-2.col-md-6
									.form-group
										label(for="#businessPostCoSde") Postal Code/Zip
										input#businessPostCode.form-control(type="text", placeholder="Postal Code", value="", required)
							.form-row
								.col-lg-6
									.form-group
										label(for="#businessPhone") Phone Number (optional)
										input#businessPhone.form-control(type="tel", placeholder="Enter a phone number", value="", required)
								.col-md-6
									.form-group
										label(for="#businessCountry") Country
										select#businessCountry.form-control.selectpicker(title="Select a Country", regquired)
											option(value='AU') Australia
											option(value='CA') Canada
											option(value='GB') United Kingdom
											option(value='US') United States
					// Contact Information
					section#businessContactInfo.admin-blocks
						header.d-flex
							h2 Contact Information
						section
							.form-row
								.col-md
									.form-group
										label(for="#businessEmail") Email
										input#businessStreet.form-control(type="email", placeholder="Enter Email Address", value="", required)
								.col-md
									.form-group
										label(for="#businessPhone02") Phone Number (optional)
										input#businessPhone02.form-control(type="tel", placeholder="Enter a phone number", value="", required)

					// Terms & Conditions
					section#businessTermsConditions.admin-blocks
						header.d-flex
							h2 Terms &amp; Conditions
						section
							.form-row
								.col-md
									.form-group
										.card.card-block
											p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lacinia sem convallis, vestibulum odio vel, porttitor dolor. Vivamus non libero libero. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam a aliquam urna, non sodales quam. Aliquam at lorem sodales metus faucibus aliquam. Ut porta, leo eget efficitur sagittis, purus lacus lobortis turpis, in euismod mauris enim vel ante. Fusce eget pellentesque enim, ac maximus massa. Nam dui tellus, pretium feugiat elit eu, cursus luctus nisl. Donec quis nulla mauris. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi convallis accumsan bibendum. Aenean pellentesque augue eget nisi ultricies volutpat. Nullam quis justo justo. Vestibulum arcu turpis, ultricies quis ullamcorper a, commodo a turpis. Integer euismod vel nisi id consectetur. Nam condimentum odio quis pellentesque dapibus.
											p Aliquam rutrum quam dolor, a sagittis quam condimentum vitae. In sed mollis magna, non hendrerit diam. Sed lacus massa, scelerisque eget congue sit amet, viverra efficitur ipsum. Praesent lacinia accumsan nunc, at fermentum est vulputate nec. Praesent elit risus, pellentesque nec ultrices et, consequat sed libero. Curabitur a porta nunc. Donec tincidunt mattis dui. Nullam at sodales odio. Vestibulum porta risus non urna pulvinar sollicitudin. Maecenas mi urna, iaculis id metus vitae, sagittis venenatis ex. Aenean posuere odio vel ipsum aliquet gravida. Pellentesque pharetra ac ligula quis consequat.
											p Nam ac metus vulputate, sagittis dui a, posuere ex. Donec cursus placerat elit, a convallis enim maximus in. Donec vitae leo at orci pretium hendrerit in ac ante. Morbi elementum, massa vitae hendrerit ullamcorper, eros libero vehicula ante, sed lobortis tellus est id ante. Praesent aliquet erat at ante varius ornare. Aenean auctor orci lacus, sed finibus tortor finibus in. Suspendisse id odio est. Maecenas vulputate mi sit amet nisi ultrices venenatis. Proin ut erat eget felis dictum posuere. Sed sodales, velit vel aliquet volutpat, neque orci varius neque, id tincidunt ipsum leo quis ante. Vestibulum nec eleifend neque. Praesent dignissim neque ante, ac pulvinar ipsum convallis sit amet. Fusce velit magna, euismod nec lobortis quis, fermentum et ante.
							.form-row
								.col-md
									.custom-control.custom-checkbox
										input#acceptTerms.custom-control-input(type="checkbox")
										label.custom-control-label(for="acceptTerms") I Accept the Terms &amp; Conditions
					// Sumbit Add Business
					section#businessFinalSubmit.admin-blocks
						.row
							.col-sm-6.offset-sm-6.d-flex.justify-content-end
								// button.btn.btn-secondary.btn-lg(type="submit") Create Business and Go To Next Step
								// The following link is a temporary link to the next step, we should use the commented out button above after submitted should go to the next page.
								a.btn.btn-secondary.btn-lg(href="db-add-business-options.html") Create Business and Go To Next Step
