.site-admin
	.container-fluid
		.row
			// Dasboard Sidebar Menu
			aside.admin-nav.col-lg-3.col-md-4
				include db-sidebar-navigation	
			// Dasboard Content
			main.admin-content.col-lg-9.col-md-8(role="main")
				h1.page-title Add Business
				form(action="")
					// Select Type of Business
					section#selectTypeofBusiness.admin-blocks
						header.d-flex
							h2 Select Type of Business
						section
							.custom-control.custom-radio.custom-control-inline
								input#serviceType.custom-control-input(type="radio" name="businessType" value="service")
								label.custom-control-label(for="serviceType") Service
							.custom-control.custom-radio.custom-control-inline
								input#rentType.custom-control-input(type="radio" name="businessType" value="forrent")
								label.custom-control-label(for="rentType") For Rent
							.custom-control.custom-radio.custom-control-inline
								input#saleType.custom-control-input(type="radio" name="businessType" value="forsale")
								label.custom-control-label(for="saleType") For Sale
					// Select Business Category
					section#selectBusinessCategory.admin-blocks
						.row
							.cat-add.col-sm-8
								header
									h2 Select Business Category
								p dsfs
							.cat-cost.col-sm-4
								p sdfsdf
					// Select Market
					section#selectMarket.admin-blocks
						.row
							.market-add.col-sm-8
								header
									h2 Select Market
								p dsfs
							.market-cost.col-sm-4
								p sdfsdf
					// General
					section#businessGeneral.admin-blocks
						header.d-flex
							h2 General
						section
							.form-row
								.col-md
									.form-group
										label(for="#businessName") Business Name
										input#businessName.form-control(type="text", placeholder="Enter the business name", value="Joe the Plumber", required)
							.form-row
								.col-md
									.form-group
										label(for="#businessWebsite") Wesite URL (optional)
										input#businessWebsite.form-control(type="url", placeholder="Enter the URL for the business", value="http://www.joetheplumber.com", required)
					// Primary Business Address
					section#businessAddress.admin-blocks
						header.d-flex
							h2 Primary Business Address
						section
							.form-row
								.col-md
									.form-group
										label(for="#businessStreet") Address Line #1
										input#businessStreet.form-control(type="text", placeholder="Enter an Address", value="222 Islington Avenue", required)
								.col-md
									.form-group
										label(for="#businessLine02") Address Line #2 (optional)
										input#businessLine02.form-control(type="text", placeholder="Enter a Suite or Apt. #", value="", required)
							.form-row
								.col-lg-6
									.form-group
										label(for="#businessCity") City
										input#businessCity.form-control(type="text", placeholder="Enter a City", value="Toronto", required)
								.col-lg-4.col-md-6
									.form-group
										label(for="#businessProvince") Province/State
										select#businessProvince.form-control.selectpicker(title="Select a Province or State", regquired)
											option(value='AB') Alberta
											option(value='BC') British Columbia
											option(value='MB') Manitoba
											option(value='NB') New Brunswick
											option(value='NL') Newfoundland and Labrador
											option(value='NS') Nova Scotia
											option(value='ON', selected) Ontario
											option(value='PE') Prince Edward Island
											option(value='QC') Quebec
											option(value='SK') Saskatchewan
											option(value='NT') Northwest Territories
											option(value='NU') Nunavut
											option(value='YT') Yukon
								.col-lg-2.col-md-6
									.form-group
										label(for="#businessPostCoSde") Postal Code/Zip
										input#businessPostCode.form-control(type="text", placeholder="Postal Code", value="M8V 3W7", required)
							.form-row
								.col-lg-6
									.form-group
										label(for="#businessPhone") Phone Number (optional)
										input#businessPhone.form-control(type="tel", placeholder="Enter a phone number", value="(647) 430 5262", required)
								.col-md-6
									.form-group
										label(for="#businessCountry") Country
										select#businessCountry.form-control.selectpicker(title="Select a Country", regquired)
											option(value='AU') Australia
											option(value='CA', selected) Canada
											option(value='GB') United Kingdom
											option(value='US') United States
					// Contact Information
					section#businessContactInfo.admin-blocks
						header.d-flex
							h2 Contact Information
						section
							.form-row
								.col-md
									.form-group
										label(for="#businessEmail") Email
										input#businessStreet.form-control(type="email", placeholder="Enter Email Address", value="info@joetheplumber.com", required)
								.col-md
									.form-group
										label(for="#businessPhone02") Phone Number (optional)
										input#businessPhone02.form-control(type="tel", placeholder="Enter a phone number", value="", required)
					// Promotion
					section#businessPromotion.admin-blocks
						header.d-flex
							h2 Promotion (optional)
						section
							.form-row
								.col-md
									.form-group
										label(for="#businessPromotionTitle") Promotion Title
										input#businessPromotionTitle.form-control(type="text", placeholder="A Promotion Title", value="", required)
							.form-row
								.col-md
									.form-group
										label(for="#businessPromotionDetails") Promotion Details (max 500 characters)
										textarea#businessWebsite.form-control(placeholder="Promotion Details", value="", rows="3", required)
					// Upload Images
					section#businessImages.admin-blocks
						header.d-flex
							h2.mr-auto Upload Images
							.admin-blocks-btns
								a.edit.btn.btn-secondary(href="#") Add
						section
							.card.card-block.listview
								ul.list-unstyled
									li.media
										img.mr-3(src="http://via.placeholder.com/350x250" width="150" alt="Generic placeholder image")
										.media-body
											.file-name.mt-0.mb-1 Some_image_file.jpg
											.file-size 200 KB
										button.close(type="button" aria-label="Close")
											i.fas.fa-trash-alt(aria-hidden="true")
									li.media
										img.mr-3(src="http://via.placeholder.com/350x250" width="150" alt="Generic placeholder image")
										.media-body
											.file-name.mt-0.mb-1 Some_image_file.jpg
											.file-size 200 KB
										button.close(type="button" aria-label="Close")
											i.fas.fa-trash-alt(aria-hidden="true")
									li.media
										img.mr-3(src="http://via.placeholder.com/350x250" width="150" alt="Generic placeholder image")
										.media-body
											.file-name.mt-0.mb-1 Some_image_file.jpg
											.file-size 200 KB
										button.close(type="button" aria-label="Close")
											i.fas.fa-trash-alt(aria-hidden="true")
					// Upload Videos
					section#businessVideos.admin-blocks
						header.d-flex
							h2.mr-auto Upload Videos
							.admin-blocks-btns
								a.edit.btn.btn-secondary(href="#") Add
						section
							.card.card-block.listview
								ul.list-unstyled
									li.media
										img.mr-3(src="http://via.placeholder.com/350x250" width="150" alt="Generic placeholder image")
										.media-body
											.file-name.mt-0.mb-1 Some_image_file.mp4
											.file-size 10 MB
										button.close(type="button" aria-label="Close")
											i.fas.fa-trash-alt(aria-hidden="true")
									li.media
										img.mr-3(src="http://via.placeholder.com/350x250" width="150" alt="Generic placeholder image")
										.media-body
											.file-name.mt-0.mb-1 Some_image_file.mp4
											.file-size 20 MB
										button.close(type="button" aria-label="Close")
											i.fas.fa-trash-alt(aria-hidden="true")
					// Upload Audio Files
					section#businessAudio.admin-blocks
						header.d-flex
							h2.mr-auto Upload Audio
							.admin-blocks-btns
								a.edit.btn.btn-secondary(href="#") Add
						section
							.card.card-block.listview
								ul.list-unstyled
									li.media
										img.mr-3(src="http://via.placeholder.com/350x250" width="150" alt="Generic placeholder image")
										.media-body
											.file-name.mt-0.mb-1 Some_image_file.mp3
											.file-size 3.1 MB
										button.close(type="button" aria-label="Close")
											i.fas.fa-trash-alt(aria-hidden="true")