.site-admin
	.container-fluid
		.row
			// Dasboard Sidebar Menu
			aside.admin-nav.col-lg-3.col-md-4
				include db-sidebar-navigation	
			// Dasboard Content
			main.admin-content.col-lg-9.col-md-8(role="main")
				h1.page-title Add Business (Optional Features)
				form(action="")
					// Select Market
					section#selectMarket.admin-blocks.disabled
						.row
							.market-add.col-lg-8.col-md-7
								header
									button.premium-upgrade.btn.btn-secondary(type="button") Premium Upgrade
									h2 Select Additional Marketing Locations
								.row.align-items-center
									.col-sm-8
										.form-group
												label.invisible(for="#businessMarket") Choose a City
												select#businessMarket.form-control.selectpicker.business-market-select(title="Choose City...", data-live-search="true", disabled)
													option
													option(value='TOR') Toronto, ON, CANADA
													option(value='MON') Montreal, ON, CANADA
													option(value='OTA') Ottawa, ON, CANADA
													option(value='VAN') Vancouver, ON, CANADA
									.col-sm-4
										button#businessMarketAdd.btn.btn-secondary.btn-lg.btn-block.disabled(type="button") Add
								.row
									.col
										h6 Location Selected:
											span.markets
												span.market.badge.badge-secondary(data-category="TorontoONCAN") Toront ON, CAN
													button.close(type="button", aria-label="Close")
														span(aria-hidden="true") ×
												span.market.badge.badge-secondary(data-category="OttawaONCAN") Ottawa ON, CAN
													button.close(type="button", aria-label="Close")
														span(aria-hidden="true") ×
							.market-cost.col-lg-4.col-md-5
								.market-premium-content
									p You have selected 
										span.no-markets-selected 2
										|  additional marketing locations.
									h6 Esitmated Cost:
									h4
										span.cost $40.00
										|  / 
										span.period month
									a#businessMarketBuy.btn.btn-secondary.btn-block.btn-lg(href="#", role="link", data-toggle='modal', data-target='#modalBuyMarkets') Pay Now

					// Promotion
					section#businessPromotion.admin-blocks
						header.d-flex
							h2 Create a Promotion
						section
							.form-row
								.col-md
									.form-group
										label(for="#businessPromotionTitle") Promotion Title
										input#businessPromotionTitle.form-control(type="text", placeholder="", value="", )
							.form-row
								.col-md
									.form-group
										label(for="#businessPromotionDetails") Promotion Details (max 500 characters)
										textarea#businessWebsite.form-control(placeholder="Promotion Details", value="", rows="3")
					// Upload Images
					section#businessImages.admin-blocks
						header.d-flex
							h2.mr-auto Upload Images
							.admin-blocks-btns
								a.edit.btn.btn-secondary(href="#") Add
						section
							.card.card-block.listview
								ul.list-unstyled
								
					// Upload Videos
					section#businessVideos.admin-blocks
						header.d-flex
							h2.mr-auto Upload Videos
							.admin-blocks-btns
								a.edit.btn.btn-secondary(href="#") Add
						section
							.card.card-block.listview
								ul.list-unstyled
									
					// Upload Audio Files
					section#businessAudio.admin-blocks
						header.d-flex
							h2.mr-auto Upload Audio
							.admin-blocks-btns
								a.edit.btn.btn-secondary(href="#") Add
						section
							.card.card-block.listview
								ul.list-unstyled

					
					// Sumbit Add Business
					section#businessFinalSubmit.admin-blocks
						.row
							.col-sm-6.offset-sm-6.d-flex.justify-content-end
								a.btn.btn-primary.btn-lg(href="#") Save as Draft
								button.btn.btn-secondary.btn-lg(type="submit") Publish Business
