.site-admin
	.container-fluid
		.row
			// Dasboard Sidebar Menu
			aside.admin-nav.col-lg-3.col-md-4
				include db-sidebar-navigation	
			// Dasboard Content
			main.admin-content.col-lg-9.col-md-8(role="main")
				h1.page-title BisRing Points
				// My Followers List
				section#bisringPoints.admin-blocks
					.row
						.col-sm-8
							p.mb-0 
								| Points were gained from (
								span.referral-amount 1
								| ) Referral, who has become a registered member.
							p Point can be used towards purchse of business categories.
						.col-sm-4
							a.btn.btn-secondary.btn-block(href="#")
								| Available Points:
								.points-available 100pts