.site-admin
	.container-fluid
		.row
			// Dasboard Sidebar Menu
			aside.admin-nav.col-lg-3.col-md-4
				include db-sidebar-navigation
			// Dasboard Content
			main.admin-content.col-lg-9.col-md-8(role="main")
				h1.page-title(style="background-image:url(images/bisring_points_background.jpg);")
					i.fas.fa-coins.mr-2
					| BisRing Points
				// BisRing Points
				section#bisringPoints.admin-blocks
					.row
						.col-sm-12
							p When you refer BisRing to a friend, colleague or family member and their email address is used to register as a BisRinger or ProBisRinger, you will be able to receive a total of 500 BisRing points. When the referred email is used to register as a BisRinger, the referee will obtain 200 points. If that same user then upgrades to a ProBisRinger, the referee will obtain an additional 300 points. These credit points can be redeemed towards upgrading to a ProBisRinger, purchasing more business categories, buy BisRing merchandise in our future webstore, or even making a payment towards your monthly bill. For promoting and being an advocate of BisRing, we want to reward you with as much as we can.
					.row
						.col-sm-8
							p.mb-0
								| Points were gained from (
								span.referral-amount 1
								| ) Referral, who has become a registered member.
							p Point can be used towards purchse of business categories.
						.col-sm-4
							a.btn.btn-secondary.btn-block(href="#")
								| Available Points:
								.points-available 100pts
