.site-admin
	.container-fluid
		.row
			// Dasboard Sidebar Menu
			aside.admin-nav.col-lg-3.col-md-4
				include db-sidebar-navigation
			// Dasboard Content
			main.admin-content.col-lg-9.col-md-8(role="main")
				h1.page-title(style="background-image:url(images/probisringer_background.jpg);")
					i.fas.fa-user-tie.mr-2
					| Become a ProBisRinger
				.special-offer.text-center.mt-4.mb-4
					h3 Special Offer Now!
					h4 Until We Reach 10,000 Users ProBisRingers Are Absolutely Free
				// Step 3: Pay
				section#step03.admin-blocks.edit-mode
					form(action="")
						header.d-flex
							h2.mr-auto Step 3: Pay
						section.edit-info
							.pay-table
								table.table.table-striped
									tbody
										tr.categories
											td 4 Categories
											td $54.00
										tr.discount
											td 
												| Your 
												span.discound-value 5%
												| Discount
											td -$2.70
										tr.redeem-points
											td
												.custom-control.custom-checkbox
													input.custom-control-input(type="checkbox", id="redeemPoints")
													label.custom-control-label(for="redeemPoints")
														| Redeem BisRing Points (You have
														span.points-available 100
														|  pts)
											td $0.00
										tr.coupon-code
											td
												.form-group.row
													label.col-lg-3.col-md-4.col-sm-3.col-form-label(for="couponCode") Coupon Code:
													.col-lg-4.col-md-6.col-sm-5
														input#couponCode.form-control(type="text" placeholder="Enter Code")
											td $0.00
										tr.subtotal
											td(colspan="2")
												| Sub total: 
												span.subtotal-calculated $51.30
										tr.tax
											td(colspan="2")
												| Tax HST 13%:
												span.tax-calculated +$6.67
										tr.total
											td(colspan="2")
												| Total:
												span.total-calculated $57.97
												|  /
												span.period month
							.pay-method.card.card-block
								.row.d-flex.align-items-center
									.col-auto
										| Choose Payment Method:
									.col-auto.d-flex.align-items-center.payment-choose
										.custom-control.custom-radio
											input.custom-control-input(type="radio", name="method", id="creditCard", value="creditcard")
											label.custom-control-label(for="creditCard")
												| Credit Card
										.custom-control.custom-radio
											input.custom-control-input(type="radio", name="method", id="payPal", value="paypal")
											label.custom-control-label(for="payPal")
												| PayPal
									.col-auto.ml-auto.payment-submit
										a.btn.btn-primary(href="#") Pay Now
