.site-admin
	.container-fluid
		.row
			// Dasboard Sidebar Menu
			aside.admin-nav.col-lg-3.col-md-4
				include db-sidebar-navigation
			// Dasboard Content
			main.admin-content.col-lg-9.col-md-8(role="main")
				h1.page-title Become a Business User
				// Features
				section#featuresInformation.admin-blocks
					.alert.alert-light.d-flex.align-items-center
						.feature-check-icon
							i.far.fa-check-circle
						.feature-text
							p Monthly or yearly subscription of services. Per month for a single business $20. Annual discout is 10%
					.alert.alert-light.d-flex.align-items-center
						.feature-check-icon
							i.far.fa-check-circle
						.feature-text
							p If coupon applied for the first month or 2, then the rest of the months should be calculated according. Coupon discounts are only for maximum of 2 months.
					.alert.alert-light.d-flex.align-items-center
						.feature-check-icon
							i.far.fa-check-circle
						.feature-text
							p As the number of marketing category get added the discount get increased as shown below.
				// Step 1: Select Category Range
				section#step01.admin-blocks.edit-mode
					form(action="")
						header.d-flex
							h2.mr-auto Step 1: Select Category Range
							.admin-blocks-btns
								a.next.btn.btn-primary(href="db-become-business-user-step-02.html") Next							
						section.edit-info
							.btn-group-toggle.row(data-toggle="buttons")
								label.btn.btn-light.col-lg-3.col-md-4
									input(type="radio" name="categories" id="opt1" autocomplete="off")
									h3.cat-no 1 Category
									hr
									.cat-cost $20 / month
								label.btn.btn-light.col-lg-3.col-md-4
									input(type="radio" name="categories" id="opt2" autocomplete="off")
									h3.cat-no 2 Categories
									hr
									.cat-cost $40 / month
									h4 Annual Discount:
									.cat-annual-discount 5%
								label.btn.btn-light.col-lg-3.col-md-4
									input(type="radio" name="categories" id="opt3" autocomplete="off")
									h3.cat-no 3-5 Categories
									hr
									.cat-cost $60 - $100 / month
									h4 Annual Discount:
									.cat-annual-discount 10%
								label.btn.btn-light.col-lg-3.col-md-4
									input(type="radio" name="categories" id="opt4" autocomplete="off")
									h3.cat-no 6-10 Categories
									hr
									.cat-cost $120 - $200/ month
									h4 Annual Discount:
									.cat-annual-discount 15%
								label.btn.btn-light.col-lg-3.col-md-4
									input(type="radio" name="categories" id="opt5" autocomplete="off")
									h3.cat-no 11-15 Categories
									hr
									.cat-cost $220 - $300 / month
									h4 Annual Discount:
									.cat-annual-discount 20%
								label.btn.btn-light.col-lg-3.col-md-4
									input(type="radio" name="categories" id="opt6" autocomplete="off")
									h3.cat-no 16-20 Categories
									hr
									.cat-cost $320 - $400 / month
									h4 Annual Discount:
									.cat-annual-discount 25%
								label.btn.btn-light.col-lg-3.col-md-4.email
									input(type="radio" name="categories" id="opt7" autocomplete="off" value="email")
									h3.cat-no > 21 Categories
									hr
									.cat-cost Contact BisRing sales team for special customized rates: sales@bisring.com
							.premium-membership-info.row
								.col.text-center
									p Note: Once you have become a Business User, you are eligble to enhance your marketing with the ability to add additional marketing locations for your business. at the cost of $20/location. A Premium upgrade feature is availbe when you add or edit your business.