.site-admin
	.container-fluid
		.row
			// Dasboard Sidebar Menu
			aside.admin-nav.col-lg-3.col-md-4
				include db-sidebar-navigation
			// Dasboard Content
			main.admin-content.col-lg-9.col-md-8(role="main")
				h1.page-title(style="background-image:url(images/my_recommended_businesses_background.jpg);")
					i.fas.fa-badge-check.mr-2
					| My Recommended Businesses
				// Recommended Busines List
				section#recommendedBusinessList.admin-blocks
					p Here you will see all the businesses that you have worked with and have had a pleasant experience with and can recommend those businesses to others. When users visit your profile page, they will be able to see the businesses you have recommended and can decide whether they want to work with them. When a user sees a company in another user&rsquo;s recommended list, it shows the business is pleasant to work with and provide quality service.
					br
					.search-business.d-md-flex
						select.form-control.selectpicker.align-self-start
								option(value="services") Services
								option(value="for-rents") For Rents
								option(value="for-sales") For Sales
						.input-group.justify-content-md-between
							input.form-control(type='text', placeholder="Find a Business", data-js="findServiceTypeahead")
							.input-group-append
								button.btn.btn-secondary(type='button') Add
					.business-groups
						.service-group
							h2 Services
							.table-responsive(data-business-category="cleaners")
								table.table.table-sm.table-bordered
									thead
										tr
											th(colspan="2") Cleaners
									tbody
										tr
											td.vbusiness-name
												a(href="#") Jolly Maid
											td(width="40" align="center")
												a(href="#")
													i.fas.fa-trash-alt
										tr
											td.vbusiness-name
												a(href="#") VIP Cleaner
											td(width="40" align="center")
												a(href="#")
													i.fas.fa-trash-alt
										tr
											td.vbusiness-name
												a(href="#") Shire Clearning
											td(width="40" align="center")
												a(href="#")
													i.fas.fa-trash-alt
							.table-responsive(data-business-category="Plumbers")
								table.table.table-sm.table-bordered
									thead
										tr
											th(colspan="2") Plumbers
									tbody
										tr
											td.vbusiness-name
												a(href="#") Drain Rescue Plumbers Toronto
											td(width="40" align="center")
												a(href="#")
													i.fas.fa-trash-alt
										tr
											td.vbusiness-name
												a(href="#") Toronto Plumbing
											td(width="40" align="center")
												a(href="#")
													i.fas.fa-trash-alt
										tr
											td.vbusiness-name
												a(href="#") Anta Plumbing
											td(width="40" align="center")
												a(href="#")
													i.fas.fa-trash-alt
						.rent-group
							h2 Rent
						.sale-group
							h2 Sale
