.site-admin
	.container-fluid
		.row
			// Dasboard Sidebar Menu
			aside.admin-nav.col-lg-3.col-md-4
				include db-sidebar-navigation	
			// Dasboard Content
			main.admin-content.col-lg-9.col-md-8(role="main")
				h1.page-title My Reviews
				// Reviews
				nav#reviews.admin-blocks
					.nav.nav-tabs(role="tablist")
						a#business-reviews-tab.nav-item.nav-link.active(data-toggle="tab" href="#business-reviews" role="tab" aria-controls="business-reviews" aria-selected="true") Reviews for My Business
						a#my-reviews-tab.nav-item.nav-link(data-toggle="tab" href="#my-reviews" role="tab" aria-controls="my-reviews" aria-selected="false") Reviews I Have Given
					#nav-tabContent.tab-content
						#business-reviews.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="business-reviews-tab") 
							.business-review
								h2
									span.business-reviewed
										| Joe the Plumber
									|  (
									span.business-reviewed-count 2
									|  Reviews)
								ul.list-unstyled
									li
										span.business-reviewed-star-rating
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star-half
										h3.business-reviewed-title 
											| Highly recommended, would use their services again
										.business-reviewed-meta
											| By: 
											span.business-reviewed-reviewer
												| Akilan Theva
											|  on 
											span.business-reviewed-date
												| September 3, 2017
										.business-reviewed-message
											p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus viverra venenatis arcu. Ut purus ipsum, rhoncus non nisi at, pharetra cursus lorem. Aliquam vel vehicula erat, quis convallis leo. Nam vitae fringilla mauris. Ut dignissim, purus a pretium eleifend, felis quam pretium urna, ac ultricies eros ipsum non elit. Nunc rhoncus nulla et arcu dictum eleifend. Aenean sit amet mi vel metus luctus fermentum. Donec ac nulla non diam tincidunt elementum placerat vitae erat.
									li
										span.business-reviewed-star-rating
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star
										h3.business-reviewed-title 
											| Quality Service, but not as affordable
										.business-reviewed-meta
											| By: 
											span.business-reviewed-reviewer
												| John Smith
											|  on 
											span.business-reviewed-date
												| December 21, 2017
										.business-reviewed-message
											p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus viverra venenatis arcu. Ut purus ipsum, rhoncus non nisi at, pharetra cursus lorem. Aliquam vel vehicula erat, quis convallis leo. Nam vitae fringilla mauris. Ut dignissim, purus a pretium eleifend, felis quam pretium urna, ac ultricies eros ipsum non elit. Nunc rhoncus nulla et arcu dictum eleifend. Aenean sit amet mi vel metus luctus fermentum. Donec ac nulla non diam tincidunt elementum placerat vitae erat.
							.business-review
								h2
									span.business-reviewed
										| Drain Rescue Plumber
									|  (
									span.business-reviewed-count 2
									|  Reviews)
								ul.list-unstyled
									li
										span.business-reviewed-star-rating
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star-half
										h3.business-reviewed-title 
											| Highly recommended, would use their services again
										.business-reviewed-meta
											| By: 
											span.business-reviewed-reviewer
												| Akilan Theva
											|  on 
											span.business-reviewed-date
												| September 3, 2017
										.business-reviewed-message
											p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus viverra venenatis arcu. Ut purus ipsum, rhoncus non nisi at, pharetra cursus lorem. Aliquam vel vehicula erat, quis convallis leo. Nam vitae fringilla mauris. Ut dignissim, purus a pretium eleifend, felis quam pretium urna, ac ultricies eros ipsum non elit. Nunc rhoncus nulla et arcu dictum eleifend. Aenean sit amet mi vel metus luctus fermentum. Donec ac nulla non diam tincidunt elementum placerat vitae erat.
									li
										span.business-reviewed-star-rating
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star
										h3.business-reviewed-title 
											| Quality Service, but not as affordable
										.business-reviewed-meta
											| By: 
											span.business-reviewed-reviewer
												| John Smith
											|  on 
											span.business-reviewed-date
												| December 21, 2017
										.business-reviewed-message
											p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus viverra venenatis arcu. Ut purus ipsum, rhoncus non nisi at, pharetra cursus lorem. Aliquam vel vehicula erat, quis convallis leo. Nam vitae fringilla mauris. Ut dignissim, purus a pretium eleifend, felis quam pretium urna, ac ultricies eros ipsum non elit. Nunc rhoncus nulla et arcu dictum eleifend. Aenean sit amet mi vel metus luctus fermentum. Donec ac nulla non diam tincidunt elementum placerat vitae erat.

						#my-reviews.tab-pane.fade(role="tabpanel" aria-labelledby="#my-reviews-tab")
							.my-review
								ul.list-unstyled
									li
										button.close(type="button" aria-label="Delete" title="Delete Review")
											i.fas.fa-trash-alt(aria-hidden="true")
										span.my-reviewed-star-rating
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star-half
										h3.my-reviewed-title 
											| Highly recommended, would use their services again
										.my-reviewed-meta
											| Reviewd on: 
											span.business-reviewed-date
												| September 3, 2017
										.my-reviewed-message
											p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus viverra venenatis arcu. Ut purus ipsum, rhoncus non nisi at, pharetra cursus lorem. Aliquam vel vehicula erat, quis convallis leo. Nam vitae fringilla mauris. Ut dignissim, purus a pretium eleifend, felis quam pretium urna, ac ultricies eros ipsum non elit. Nunc rhoncus nulla et arcu dictum eleifend. Aenean sit amet mi vel metus luctus fermentum. Donec ac nulla non diam tincidunt elementum placerat vitae erat.
									li
										button.close(type="button" aria-label="Delete" title="Delete Review")
											i.fas.fa-trash-alt(aria-hidden="true")
										span.my-reviewed-star-rating
											i.fas.fa-star
											i.fas.fa-star
											i.fas.fa-star
										h3.my-reviewed-title 
											| Quality Service, but not as affordable
										.my-reviewed-meta
											| Reviewd on: 
											span.business-reviewed-date
												| December 21, 2017
										.my-reviewed-message
											p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus viverra venenatis arcu. Ut purus ipsum, rhoncus non nisi at, pharetra cursus lorem. Aliquam vel vehicula erat, quis convallis leo. Nam vitae fringilla mauris. Ut dignissim, purus a pretium eleifend, felis quam pretium urna, ac ultricies eros ipsum non elit. Nunc rhoncus nulla et arcu dictum eleifend. Aenean sit amet mi vel metus luctus fermentum. Donec ac nulla non diam tincidunt elementum placerat vitae erat.


