.site-admin
	.container-fluid
		.row
			// Dasboard Sidebar Menu
			aside.admin-nav.col-lg-3.col-md-4
				include db-sidebar-navigation
			// Dasboard Content
			main.admin-content.col-lg-9.col-md-8(role="main")
				h1.page-title(style="background-image:url(images/virtual_team_background.jpg);")
					i.fas.fa-users.mr-2
					| My Virtual Team
				// Virtual Teams
				section#virtualTeams.admin-blocks
					p My Virtual Team is a unique feature to BisRing that allows a BisRinger and ProBisRinger to create multiple teams of businesses. In the future when they want to work with or need a service from these businesses in multiple cities, they now have access to all their contacts in one location.
					a.btn.btn-secondary.btn-lg(href="#", role="link", data-toggle='modal', data-target='#modalAddVirtualTeam') Add New Virtual Team
					#virtualTeamsGroup.accordion
						.card
							#virtualTeamHeader01.card-header
								h5.mb-0
									button.close(type="button" aria-label="Close")
											i.fas.fa-trash-alt
									button.btn.btn-link.btn-block(type="button" data-toggle="collapse" data-target="#virtualTeamContent01" aria-expanded="true" aria-controls="collapseOne")
										span.vteam-title Virtual Team Title 01
										|  (
										span.vteam-member-count 6
										|  members) in
										span.vteam-city Toronto, ON, CANADA
							#virtualTeamContent01.collapse.show(aria-labelledby="virtualTeamHeader01" data-parent="#virtualTeamsGroup")
								.card-body
									form.search-business.d-md-flex(role="form")
										select.form-control.selectpicker.align-self-start
												option(value="services") Services
												option(value="for-rents") For Rents
												option(value="for-sales") For Sales
										.input-group.justify-content-md-between
											input.form-control(type='text', placeholder="Find a Business", data-js="findServiceTypeahead")
											.input-group-append
												button.btn.btn-secondary(type='button') Add
									.business-groups
										.service-group
											h6 Services
											.table-responsive(data-business-category="cleaners")
												table.table.table-sm
													thead
														tr
															th(colspan="5") Cleaners
													tbody.tablesort
														tr.ui-state-default
															td(width="40" align="center")
																a(href="#" align="center")
																	i.fas.fa-bars
															td.vbusiness-rank(width="40")
																span
															td.vbusiness-logo(width="125")
																img(src="/images/default-business-thumb.jpg", alt="business logo" width="100")
															td.vbusiness-name
																a(href="#") Jolly Maid
															td(width="40" align="center")
																a(href="#")
																	i.fas.fa-trash-alt
														tr
															td(width="40" align="center")
																a(href="#" align="center")
																	i.fas.fa-bars
															td.vbusiness-rank(width="40")
																span
															td.vbusiness-logo(width="125")
																img(src="/images/default-business-thumb.jpg", alt="business logo" width="100")
															td.vbusiness-name
																a(href="#") VIP Cleaner
															td(width="40" align="center")
																a(href="#")
																	i.fas.fa-trash-alt
														tr
															td(width="40" align="center")
																a(href="#" align="center")
																	i.fas.fa-bars
															td.vbusiness-rank(width="40")
																span
															td.vbusiness-logo(width="125")
																img(src="/images/default-business-thumb.jpg", alt="business logo" width="100")
															td.vbusiness-name
																a(href="#") Shire Clearning
															td(width="40" align="center")
																a(href="#")
																	i.fas.fa-trash-alt
											.table-responsive(data-business-category="Plumbers")
												table.table.table-sm
													thead
														tr
															th(colspan="4") Plumbers
													tbody.tablesort
														tr
															td(width="40" align="center")
																a(href="#" align="center")
																	i.fas.fa-bars
															td.vbusiness-rank(width="40")
																span
															td.vbusiness-name
																a(href="#") Drain Rescue Plumbers Toronto
															td(width="40" align="center")
																a(href="#")
																	i.fas.fa-trash-alt
														tr
															td(width="40" align="center")
																a(href="#" align="center")
																	i.fas.fa-bars
															td.vbusiness-rank(width="40")
																span
															td.vbusiness-name
																a(href="#") Toronto Plumbing
															td(width="40" align="center")
																a(href="#")
																	i.fas.fa-trash-alt
														tr
															td(width="40" align="center")
																a(href="#" align="center")
																	i.fas.fa-bars
															td.vbusiness-rank(width="40")
																span
															td.vbusiness-name
																a(href="#") Anta Plumbing
															td(width="40" align="center")
																a(href="#")
																	i.fas.fa-trash-alt
										.rent-group
											h6 Rent
										.sale-group
											h6 Sale
						.card
							#virtualTeamHeader02.card-header
								h5.mb-0
									button.close(type="button" aria-label="Close")
										i.fas.fa-trash-alt(aria-hidden="true")
									button.btn.btn-link.collapsed.btn-block(type="button" data-toggle="collapse" data-target="#virtualTeamContent02" aria-expanded="false" aria-controls="collapseTwo")
										span.vteam-title Virtual Team Title 02
										|  (
										span.vteam-member-count 2
										|  members) in
										span.vteam-city Ottawa, ON, CANADA
							#virtualTeamContent02.collapse(aria-labelledby="virtualTeamHeader02" data-parent="#virtualTeamsGroup")
								.card-body
									form.search-business.d-md-flex(role="form")
										select.form-control.selectpicker.align-self-start
												option(value="services") Services
												option(value="for-rents") For Rents
												option(value="for-sales") For Sales
										.input-group.justify-content-md-between
											input.form-control(type='text', placeholder="Find a Business", data-js="findServiceTypeahead")
											.input-group-append
												button.btn.btn-secondary(type='button') Add
									.business-groups
										.service-group
											h6 Services
										.rent-group
											h6 Rent
											.table-responsive(data-business-category="cleaners")
												table.table.table-sm
													thead
														tr
															th(colspan="4") Cleaners
													tbody.tablesort
														tr
															td(width="40" align="center")
																a(href="#" align="center")
																	i.fas.fa-bars
															td.vbusiness-rank(width="40")
																span
															td.vbusiness-name
																a(href="#") Jolly Maid
															td(width="40" align="center")
																a(href="#")
																	i.fas.fa-trash-alt
														tr
															td(width="40" align="center")
																a(href="#" align="center")
																	i.fas.fa-bars
															td.vbusiness-rank(width="40")
																span
															td.vbusiness-name
																a(href="#") VIP Cleaner
															td(width="40" align="center")
																a(href="#")
																	i.fas.fa-trash-alt
										.sale-group
											h6 Sale
						.card
							#virtualTeamHeader03.card-header
								h5.mb-0
									button.close(type="button" aria-label="Close")
										i.fas.fa-trash-alt(aria-hidden="true")
									button.btn.btn-link.collapsed.btn-block(type="button" data-toggle="collapse" data-target="#virtualTeamContent03" aria-expanded="false" aria-controls="collapseTwo")
										span.vteam-title Virtual Team Title 03
										|  (
										span.vteam-member-count 4
										|  members) in
										span.vteam-city New York, NY, United States of America
							#virtualTeamContent03.collapse(aria-labelledby="virtualTeamHeader03" data-parent="#virtualTeamsGroup")
								.card-body
									form.search-business.d-md-flex(role="form")
										select.form-control.selectpicker.align-self-start
												option(value="services") Services
												option(value="for-rents") For Rents
												option(value="for-sales") For Sales
										.input-group.justify-content-md-between
											input.form-control(type='text', placeholder="Find a Business", data-js="findServiceTypeahead")
											.input-group-append
												button.btn.btn-secondary(type='button') Add
									.business-groups
										.service-group
											h6 Services
											.table-responsive(data-business-category="cleaners")
												table.table.table-sm
													thead
														tr
															th(colspan="4") Cleaners
													tbody.tablesort
														tr
															td(width="40" align="center")
																a(href="#" align="center")
																	i.fas.fa-bars
															td.vbusiness-rank(width="40")
																span
															td.vbusiness-name
																a(href="#") Jolly Maid
															td(width="40" align="center")
																a(href="#")
																	i.fas.fa-trash-alt
														tr
															td(width="40" align="center")
																a(href="#" align="center")
																	i.fas.fa-bars
															td.vbusiness-rank(width="40")
																span
															td.vbusiness-name
																a(href="#") VIP Cleaner
															td(width="40" align="center")
																a(href="#")
																	i.fas.fa-trash-alt
														tr
															td(width="40" align="center")
																a(href="#" align="center")
																	i.fas.fa-bars
															td.vbusiness-rank(width="40")
																span
															td.vbusiness-name
																a(href="#") Shire Clearning
															td(width="40" align="center")
																a(href="#")
																	i.fas.fa-trash-alt
											.table-responsive(data-business-category="Plumbers")
												table.table.table-sm
													thead
														tr
															th(colspan="4") Plumbers
													tbody.tablesort
														tr
															td(width="40" align="center")
																a(href="#" align="center")
																	i.fas.fa-bars
															td.vbusiness-rank(width="40")
																span
															td.vbusiness-name
																a(href="#") Drain Rescue Plumbers Toronto
															td(width="40" align="center")
																a(href="#")
																	i.fas.fa-trash-alt
										.rent-group
											h6 Rent
										.sale-group
											h6 Sale
