.site-admin
	.container-fluid
		.row
			// Dasboard Sidebar Menu
			aside.admin-nav.col-lg-3.col-md-4
				include db-sidebar-navigation	
			// Dasboard Content
			main.admin-content.col-lg-9.col-md-8(role="main")
				h1.page-title My Followers
				// My Followers List
				section#myFollowersList.admin-blocks
					#getTheBusinessID1.business-followers
						header
							h2
								| Following: 
								span.business-name Joe the Plumber
								|  (
								span.number-of-followers 48
								| )
						section
							.card.card-block
								ul.list-unstyled
									li Marchelle Jamar
									li Irish Gilbertson
									li Preston HUbert
									li Leilanie Behar
									li Salina Burbridge
									li Natalie Brautigam
									li Coreen Moten
									li Hung Leedom
									li Noreen Hammell
									li Harland Dardar
					#getTheBusinessID2.business-followers
						header
							h2
								| Following: 
								span.business-name Public Plumbing
								|  (
								span.number-of-followers 2
								| )
						section
							.card.card-block
								ul.list-unstyled
									li Salina Burbridge
									li Natalie Brautigam