.site-admin
	.container-fluid
		.row
			// Dasboard Sidebar Menu
			aside.admin-nav.col-lg-3.col-md-4
				include db-sidebar-navigation	
			// Dasboard Content
			main.admin-content.col-lg-9.col-md-8(role="main")
				h1.page-title My Businesses
				// My Business List
				section#businessList.admin-blocks
					.list-group
						.list-group-item.flex-column.align-items-start
							.d-flex.w-100.justify-content-between
								h5.mb-1 Joe the Plumber
									span.status-text
								.actions 
									a.edit-business(href="db-edit-business.html" aria-label="EdEdit Businessit" title="Edit Business")
										i.fas.fa-pencil-alt(aria-hidden="true")
									button.toggle-activation.btn.btn-primary.active(type="button" data-toggle="button" aria-pressed="true" autocomplete="off" aria-label="Toggle Activation" title="Toggle Activation")
										i
									button.delete(type="button" aria-label="Delete Business" title="Delete Business")
										i.fas.fa-trash-alt(aria-hidden="true")
							.telephone.mb-1
								i.fas.fa-phone
								a(href="tel:+14165555555") (416) 555-5555
							.address.mb-1
								i.fas.fa-map-marker-alt
								| 222 Islington Ave. Etobicoke ON M8V 3W7
						.list-group-item.flex-column.align-items-start
							.d-flex.w-100.justify-content-between
								h5.mb-1 Public Plumbing
									span.status-text
								.actions 
									a.edit-business(href="db-edit-business.html" aria-label="EdEdit Businessit" title="Edit Business")
										i.fas.fa-pencil-alt(aria-hidden="true")
									button.toggle-activation.btn.btn-primary.active(type="button" data-toggle="button" aria-pressed="true" autocomplete="off" aria-label="Toggle Activation" title="Toggle Activation")
										i
									button.delete(type="button" aria-label="Delete Business" title="Delete Business")
										i.fas.fa-trash-alt(aria-hidden="true")
							.telephone.mb-1
								i.fas.fa-phone
								a(href="tel:+14165555555") (416) 555-5555
							.address.mb-1
								i.fas.fa-map-marker-alt
								| 222 Islington Ave. Etobicoke ON M8V 3W7
						.list-group-item.flex-column.align-items-start
								.d-flex.w-100.justify-content-between
									h5.mb-1 Waterworks Plumning Co.
										span.status-text
									.actions 
										a.edit-business(href="db-edit-business.html" aria-label="EdEdit Businessit" title="Edit Business")
											i.fas.fa-pencil-alt(aria-hidden="true")
										button.toggle-activation.btn.btn-primary.active(type="button" data-toggle="button" aria-pressed="true" autocomplete="off" aria-label="Toggle Activation" title="Toggle Activation")
											i
										button.delete(type="button" aria-label="Delete Business" title="Delete Business")
											i.fas.fa-trash-alt(aria-hidden="true")
								.telephone.mb-1
									i.fas.fa-phone
									a(href="tel:+14165555555") (416) 555-5555
								.address.mb-1
									i.fas.fa-map-marker-alt
									| 222 Islington Ave. Etobicoke ON M8V 3W7
						.list-group-item.flex-column.align-items-start
								.d-flex.w-100.justify-content-between
									h5.mb-1 Drain Resuce Plumbers Toronto
										span.status-text
									.actions 
										a.edit-business(href="db-edit-business.html" aria-label="EdEdit Businessit" title="Edit Business")
											i.fas.fa-pencil-alt(aria-hidden="true")
										button.toggle-activation.btn.btn-primary.active(type="button" data-toggle="button" aria-pressed="true" autocomplete="off" aria-label="Toggle Activation" title="Toggle Activation")
											i
										button.delete(type="button" aria-label="Delete Business" title="Delete Business")
											i.fas.fa-trash-alt(aria-hidden="true")
								.telephone.mb-1
									i.fas.fa-phone
									a(href="tel:+14165555555") (416) 555-5555
								.address.mb-1
									i.fas.fa-map-marker-alt
									| 222 Islington Ave. Etobicoke ON M8V 3W7
						.list-group-item.flex-column.align-items-start
								.d-flex.w-100.justify-content-between
									h5.mb-1 Tornado Plumbing
										span.status-text
									.actions 
										a.edit-business(href="db-edit-business.html" aria-label="EdEdit Businessit" title="Edit Business")
											i.fas.fa-pencil-alt(aria-hidden="true")
										button.toggle-activation.btn.btn-primary.active(type="button" data-toggle="button" aria-pressed="true" autocomplete="off" aria-label="Toggle Activation" title="Toggle Activation")
											i
										button.delete(type="button" aria-label="Delete Business" title="Delete Business")
											i.fas.fa-trash-alt(aria-hidden="true")
								.telephone.mb-1
									i.fas.fa-phone
									a(href="tel:+14165555555") (416) 555-5555
								.address.mb-1
									i.fas.fa-map-marker-alt
									| 222 Islington Ave. Etobicoke ON M8V 3W7
						.list-group-item.flex-column.align-items-start
								.d-flex.w-100.justify-content-between
									h5.mb-1 Anta Plumbing
										span.status-text
									.actions 
										a.edit-business(href="db-edit-business.html" aria-label="EdEdit Businessit" title="Edit Business")
											i.fas.fa-pencil-alt(aria-hidden="true")
										button.toggle-activation.btn.btn-primary.active(type="button" data-toggle="button" aria-pressed="true" autocomplete="off" aria-label="Toggle Activation" title="Toggle Activation")
											i
										button.delete(type="button" aria-label="Delete Business" title="Delete Business")
											i.fas.fa-trash-alt(aria-hidden="true")
								.telephone.mb-1
									i.fas.fa-phone
									a(href="tel:+14165555555") (416) 555-5555
								.address.mb-1
									i.fas.fa-map-marker-alt
									| 222 Islington Ave. Etobicoke ON M8V 3W7
