.site-admin
	.container-fluid
		.row
			// Dasboard Sidebar Menu
			aside.admin-nav.col-lg-3.col-md-4
				include db-sidebar-navigation
			// Dasboard Content
			main.admin-content.col-lg-9.col-md-8(role="main")
				h1.page-title(style="background-image:url(images/refer_bisring_background.jpg);")
					i.fas.fa-thumbs-up.mr-2
					| Refer BisRing
				// Refer BisRings
				section#referBisring.admin-blocks
					.row
						.refer-via-email.col-sm-6
							form(action="")
								h2.mb-0
									| Gain credits for referring BisRing to your friends via email:
								.form-group
									label.invisible(for="#referEmail") Email Address
									input#referEmail.form-control(type="email", placeholder="Enter an Email Address", value="", required)
								.form-group
									button.btn.btn-secondary(type="submit") Send Referral
						.refer-via-socialmedia.col-lg-4.col-sm-5.ml-auto
							h2 Share via Social Media:
							.d-flex.justify-content-between
								a.btn.btn-facebook(href="#")
									i.fab.fa-facebook-f
								a.btn.btn-twitter(href="#", tabindex='6')
									i.fab.fa-twitter
								a.btn.btn-linkedin(href="#", tabindex='7')
									i.fab.fa-linkedin-in
