ul
	li(class=(dbId === 'my-account' ? 'active' : ''))
		a(href="db-my-account.html")
			i.fas.fa-address-card
			| My Account
	li(class=(dbId === 'my-virtual-teams' ? 'active' : ''))
		a(href="db-my-virtual-teams.html")
			i.fas.fa-users
			| My Virtual Teams
	li(class=(dbId === 'my-reviews' ? 'active' : ''))
		a(href="db-my-reviews.html")
			i.fas.fa-comments-alt
			| My Reviews
	// ***My Businesses only for Business Users***
	li(class=(dbId === 'my-businesses' ? 'active' : ''))
		a(href="db-my-businesses.html")
			i.fas.fa-briefcase
			| My Businesses
	// ***My Recommended Business only for Business Users***
	li(class=(dbId === 'my-recommended-businesses' ? 'active' : ''))
		a(href="db-my-recommended-businesses.html")
			i.fas.fa-badge-check
			| My Recommended Businesses
	// ***My Followers only for Business Users***
	li(class=(dbId === 'my-followers' ? 'active' : ''))
		a(href="db-my-followers.html")
			i.fas.fa-user-friends
			| My Followers
	li(class=(dbId === 'businesses-following' ? 'active' : ''))
		a(href="db-businesses-im-following.html")
			i.fas.fa-bookmark
			| Businesses I'm Following
	li(class=(dbId === 'refer-bisring' ? 'active' : ''))
		a(href="db-refer-bisring.html")
			i.fas.fa-thumbs-up
			| Refer BisRing
	li(class=(dbId === 'bisring-points' ? 'active' : ''))
		a(href="db-bisring-points.html")
			i.fas.fa-coins
			| BisRing Points
	// ***Add Business only for Business Users***
	li.main-action-button(class=(dbId === 'add-business' ? 'active' : ''))
		a.btn.btn-primary.btn-block(href="db-add-business.html")
			| Add Business
	li.main-action-button(class=(dbId === 'become-business-user' ? 'active' : ''))
		a.btn.btn-primary.btn-block(href="db-become-business-user-step-01.html")
			i.fas.fa-user-tie.mr-1
			| Become a ProBisRinger