extends ../_layouts/default

block title
	title Account Activated - BisRing

block vars
	- var pageId = 'register', pageClass = 'site page page-standard', pageTitle = 'Welcome to BisRing!';

block content
	include ../_includes/blocks/header-minimal
	include ../_includes/content/confirmed-registration
	include ../_includes/blocks/footer
	include ../_includes/modals/modal-quick-list