extends ../_layouts/default

block title
	title Add Business - BisRing

block vars
	- var pageId = 'dashboard', pageClass = 'site page page-standard page-admin', pageTitle = 'Dashboard', dbId = 'add-business';

block content
	include ../_includes/blocks/header-dashboard
	include ../_includes/admin/db-my-account
	include ../_includes/blocks/footer
	include ../_includes/modals/modal-notification
	include ../_includes/modals/modal-change-password
	include ../_includes/modals/modal-buy-categories
