extends ../_layouts/default

block title
	title BisRing Points - BisRing

block vars
	- var pageId = 'dashboard', pageClass = 'site page page-standard page-admin', pageTitle = 'BisRing Points', dbId = 'bisring-points';

block content
	include ../_includes/blocks/header-dashboard
	include ../_includes/admin/db-bisring-points
	include ../_includes/blocks/footer
	include ../_includes/modals/modal-notification
	include ../_includes/modals/modal-login
