extends ../_layouts/default

block title
	title Become a Business User - Step 3 - BisRing

block vars
	- var pageId = 'dashboard', pageClass = 'site page page-standard page-admin', pageTitle = 'Dashboard', dbId = 'become-business-user';

block content
	include ../_includes/blocks/header-dashboard
	include ../_includes/admin/db-become-business-user-step03
	include ../_includes/blocks/footer
	include ../_includes/modals/modal-notification
