extends ../_layouts/default

block title
	title My Followers - BisRing

block vars
	- var pageId = 'dashboard', pageClass = 'site page page-standard page-admin', pageTitle = 'My Followers', dbId = 'my-followers';

block content
	include ../_includes/blocks/header-dashboard
	include ../_includes/admin/db-my-followers
	include ../_includes/blocks/footer
	include ../_includes/modals/modal-notification