extends ../_layouts/default

block title
	title My Recommended Businesses - BisRing

block vars
	- var pageId = 'dashboard', pageClass = 'site page page-standard page-admin', pageTitle = 'My Recommended Businesses', dbId = 'my-recommended-businesses';

block content
	include ../_includes/blocks/header-dashboard
	include ../_includes/admin/db-my-recommended-businesses
	include ../_includes/blocks/footer
	include ../_includes/modals/modal-notification