extends ../_layouts/default

block title
	title My Virtual Teams - BisRing

block vars
	- var pageId = 'dashboard', pageClass = 'site page page-standard page-admin', pageTitle = 'My Virtual Teams', dbId = 'my-virtual-teams';

block content
	include ../_includes/blocks/header-dashboard
	include ../_includes/admin/db-my-virtual-teams
	include ../_includes/blocks/footer
	include ../_includes/modals/modal-notification
