extends ../_layouts/default

block title
	title My Reviews - BisRing

block vars
	- var pageId = 'dashboard', pageClass = 'site page page-standard page-admin', pageTitle = 'My Reviews', dbId = 'my-reviews';

block content
	include ../_includes/blocks/header-dashboard
	include ../_includes/admin/db-my-reviews
	include ../_includes/blocks/footer
	include ../_includes/modals/modal-edit-review
	include ../_includes/modals/modal-notification
	