extends ../_layouts/default

block title
	title Refer BisRing - BisRing

block vars
	- var pageId = 'dashboard', pageClass = 'site page page-standard page-admin', pageTitle = 'Refer BisRing', dbId = 'refer-bisring';

block content
	include ../_includes/blocks/header-dashboard
	include ../_includes/admin/db-refer-bisring
	include ../_includes/blocks/footer
	include ../_includes/modals/modal-notification
	include ../_includes/modals/modal-login
