extends ../_layouts/default

block title
	title Something Went Wrong - BisRing

block vars
	- var pageId = '404', pageClass = 'site page page-standard', pageTitle = 'Oops Something Has Gone Wrong';

block content
	include ../_includes/blocks/header-minimal
	include ../_includes/content/error
	include ../_includes/blocks/footer
	include ../_includes/modals/modal-quick-list
