extends ../_layouts/default

block title
	title Forgot Your Password - BisRing

block vars
	- var pageId = 'forgot-password', pageClass = 'site page page-standard', pageTitle = 'Forgot Your Password';

block content
	include ../_includes/blocks/header-minimal
	include ../_includes/content/forgot-password
	include ../_includes/blocks/footer
	include ../_includes/modals/modal-quick-list
