extends ../_layouts/default

block title
	title Forgot Password - BisRing

block vars
	- var bodyId = 'forgot-password', bodyClass = 'page page-compact', pageTitle = 'Forgot Password';

block metas
	- var siteAuthor = 'Walter Drexl'
	- var siteDescription = 'A few words about BisRing'
	- var facebookSiteName = 'BisRing'
	- var facebookURL = 'http://bisring.io'
	- var facebookType = 'BisRing'
	- var facebookTitle = 'BisRing'
	- var facebookDescription = 'A few words about BisRing'
	- var twitterCard = 'BisRing'
	- var twitterTitle = 'BisRing'
	- var twitterDescription = 'A few words about BisRing'
	- var canonicalURL = 'http://bisring.io'
	- var siteENURL = 'http://bisring.io/en'
	- var siteFRURL = 'http://bisring.io/fr'

block content
	include ../_partials/forgot-password
