extends ../_layouts/default

block title
	title Password Recovery - BisRing

block vars
	- var pageId = 'password-recovery', pageClass = 'site page page-standard', pageTitle = 'Password Recovery';

block content
	include ../_includes/blocks/header-minimal
	include ../_includes/content/password-recovery
	include ../_includes/blocks/footer
	include ../_includes/modals/modal-quick-list
