extends ../_layouts/default

block title
	title Privacy Policy - BisRing

block vars
	- var pageId = 'privacy-policy', pageClass = 'site page page-standard', pageTitle = 'Privacy Policy';

block metas
	- var siteAuthor = 'Walter Drexl'
	- var siteDescription = 'A few words about BisRing'
	- var facebookSiteName = 'BisRing'
	- var facebookURL = 'http://bisring.io'
	- var facebookType = 'BisRing'
	- var facebookTitle = 'BisRing'
	- var facebookDescription = 'A few words about BisRing'
	- var twitterCard = 'BisRing'
	- var twitterTitle = 'BisRing'
	- var twitterDescription = 'A few words about BisRing'
	- var canonicalURL = 'http://bisring.io'
	- var siteENURL = 'http://bisring.io/en'
	- var siteFRURL = 'http://bisring.io/fr'

block content
	include ../_includes/blocks/header-standard
	include ../_includes/content/privacy-policy
	include ../_includes/blocks/footer
	include ../_includes/modals/modal-quick-list
	include ../_includes/modals/modal-login
