extends ../_layouts/default

block title
	title Confirm Registration - BisRing

block vars
	- var pageId = 'register', pageClass = 'site page page-standard', pageTitle = 'Please Confirm Registration';

block content
	include ../_includes/blocks/header-minimal
	include ../_includes/content/register-notifciation
	include ../_includes/blocks/footer
	include ../_includes/modals/modal-quick-list