extends ../_layouts/default

block title
	title Become a BisRinger - BisRing

block vars
	- var pageId = 'register', pageClass = 'site page page-standard', pageTitle = 'Become a BisRinger';

block content
	include ../_includes/blocks/header-search
	include ../_includes/content/register
	include ../_includes/blocks/footer
	include ../_includes/modals/modal-quick-list