// BASE.scss

// COLOR VARS
// FONT MIXIN VARS
// FONT WEIGHTS VARS
// SELECTION COLOR DECLARATION
// MEDIA QUERIES VARS

// COLOR VARS
$white: #fff;
$black: #000;
$green-AA: #146f81;
$green-AB: #076274;
$green-AC: #dae8ea;
$green-AD: #ecf3f4;
$green-AE: #318190;
$green-AF: #e6eff1;
$green-AG: #136e80;
$green-AH: #e1ebec;
$orange-AA: #f1592a;
$silver-AA: #666;
$silver-AB: #333;
$silver-AC: #c9c9cb;
$silver-AD: #e0e0e0;
$silver-AE: #fafafa;
$silver-AF: #838486;

// FONT MIXIN DECLARATION
@mixin font-size($sizeValue: 16) {
  font-size: ($sizeValue) + px;
  font-size: ($sizeValue / 16) + rem;
}

// FONT WEIGHTS VARS
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-medium-x: 600;
$fw-bold: 700;
$fw-bold-x: 800;
$fw-black: 900;

// SELECTION COLOR DECLARATION
// https://css-tricks.com/almanac/selectors/s/selection
*::-moz-selection,
*::selection {
  color: $white;
  background-color: $orange-AA;
}

// MEDIA QUERIES VARS
// Check this link for more information: http://v4-alpha.getbootstrap.com/layout/overview/#responsive-breakpoints
// 36rem = 576px
// 48rem = 768px
// 62rem = 992px
// 75rem = 1200px
$small: "(max-width: 36rem)";
$medium: "(max-width: 48rem)";
$large: "(max-width: 62rem)";
$xlarge: "(max-width: 75rem)";
$small__up: "(min-width: 36rem)";
$medium__up: "(min-width: 48rem)";
$large__up: "(min-width: 62rem)";
$xlarge__up: "(min-width: 75rem)";
