// STATE.scss

/*
Table of Content:
--- Universal Classes
*/

// Universal Classes
.hidden {
	display: none!important;
}
.btn {
	font-weight: normal;
	font-family: "Barlow-SemiBold", sans-serif;
	&-primary {
		background-color: $orange-AA;
	}
	@media #{$large__up} {
		min-width: 12rem;
	}
}