// STATE.scss
/*
Table of Content:
--- Universal Classes
--- Navigation & Offcanvas
*/

// Universal Classes
.hidden {
  display: none !important;
}
.btn {
  font-weight: normal;
  font-family: "Barlow-SemiBold", sans-serif;
  &-primary {
    background-color: $orange-AA;
  }
  @media #{$large__up} {
    min-width: 12rem;
  }
}

// Navigation & Offcanvas for standard pages
.navbar {
  .nav-link {
    font-family: "Barlow-Medium";
  }
  &--large {
    background-color: $dark !important;
  }
  &--small {
    padding: 1rem;
    background-color: $dark;
    .offcanvas-collapse {
      @include font-size(20);
      &:link {
        color: $white;
      }
      &:active,
      &:focus,
      &:hover,
      &:visited {
        color: $white;
      }
    }
    .fa {
      color: inherit;
      line-height: 1;
      vertical-align: middle;
      margin-right: 1rem;
    }
  }
  @media #{$medium} {
    &--small {
      display: block;
    }
    &--large {
      display: none;
    }
  }
  @media #{$medium__up} {
    &--small {
      display: none;
    }
    &--large {
      display: block;
    }
  }
}
.offcanvas-wrapper,
.offcanvas-overlay {
  @media #{$medium__up} {
    display: none!important;
  }
}
.offcanvas {
  width: 15.63rem;
  position: fixed;
  top: 0;
  left: -15.63rem;
  height: 100vh;
  z-index: 999;
  background: $silver-AE;
  color: $white;
  transition: all 0.3s;
  overflow-y: scroll;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  &.active {
    overflow: visible;
    left: 0;
  }
  &-title {
    color: $white;
    margin: 0;
    padding: 3rem 1rem 1.25rem;
    text-transform: uppercase;
    font-family: "Barlow-Medium";
    @include font-size(14);
    .offcanvas-icon {
      max-width: 1.25rem;
      min-width: 1rem;
      margin-right: 1.875rem;
    }
  }
  &-list {
    &.components {
      padding: 0;
    }
    .offcanvas-listitem {
      &.active > .offcanvas-link {
        color: $green-AA;
        background: $green-AH;
        .offcanvas-icon {
          color: $green-AA;
        }
      }
      .offcanvas-link {
        padding: .85rem 1rem;
        display: block;
        @include font-size(14);
        &:link {
          text-decoration: none;
        }
        &:hover {
          color: $green-AA;
          background: $green-AH;
          .offcanvas-icon {
            color: $green-AA;
          }
        }
        .offcanvas-icon {
          color: $silver-AF;
          max-width: 1.25rem;
          min-width: 1rem;
          margin-right: 1.875rem;
        }
      }
    }
  }
  &-link {
    color: $black;
    text-transform: uppercase;
    font-family: "Barlow-Medium";
  }
  &-header {
    background: $green-AA;
  }
  &-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    display: none;
  }
  &-dismiss {
    width: auto;
    height: auto;
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-align: center;
    vertical-align: middle;
    &:link {
      color: $white;
    }
    &:hover,
    &:visited,
    &:focus,
    &:active,
      {
      color: $white;
    }
    .fa {
      line-height: 0;
      &:before {
        content: '\00d7';
      }
    }
  }
}
// Navigation for HOME page
.home {
  .navbar {
    &--large {
      background-color: transparent!important;
      padding-left: 0;
      padding-right: 0;
      .container {
        padding-left: 0;
        padding-right: 0;
      }
    }
    &--small {
      padding: 1rem 0;
      background-color: transparent;
    }
  }
}
