// THEME.scss

/*
Table of Content:
--- Site Feature
--- Site Callout
--- Site Footer
    --- HOME
    --- DASHBOARD
*/

.site-feature {
  padding-top: 4.688rem;
  padding-bottom: 4.688rem;
  text-align: center;
  color: $green-AB;
  background-color: $green-AF;
  &--thumbnail {
    max-height: 7.5rem;
  }
  &--title {
    margin-top: 0;
    margin-bottom: 2.5rem;
    font-weight: normal;
    @include font-size(32);
  }
  &--heading {
    margin-top: 0rem;
    margin-bottom: 1rem;
    font-weight: normal;
    @include font-size(24);
  }
  &--content {
    margin-bottom: 0;
    @include font-size(14);
  }
  .card {
    width: 100%;
    &-header {
      padding-top: 1rem;
      padding-bottom: 0;
      min-height: 11rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: none;
      border-bottom: none;
    }
    &-body {
      padding: 0 1.75rem 1.5rem;
    }
  }
  .btn {
    margin-top: 2.5rem;
  }
}
// ---
.site-callout {
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  .container {
    position: relative;
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
  }
  &--title {
    color: $white;
    margin-bottom: 1.875rem;
    @include font-size(32);
  }
  .btn {
    &--fixed {
      position: absolute;
      right: 0;
      bottom: 0;
      text-transform: uppercase;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  &--icon {
    margin-right: .5rem;
  }
  &--badge {
    color: $orange-AA;
    margin-left: 1rem;
    background-color: $white;
    font-family: "Barlow-SemiBold", sans-serif;
  }
}
// ---
.site-footer {
  color: $silver-AA;
  background-color: $white;
  .row {
    &--top {
      border-bottom: 1px solid $silver-AD;
      .column {
        margin-top: 3.125rem;
        margin-bottom: 2.813rem;
      }
    }
    &--bottom {
      .column {
        margin-top: 1.563rem;
        margin-bottom: 1.563rem;
      }
    }
  }
  &--social,
  &--creator {
    text-align: right;
  }
  &--navigation-link,
  &--social-link,
  &--copyright-link,
  &--creator-link,
  &--copyright-year,
  &--copyright-rights,
  &--creator-title {
    line-height: 1;
    color: inherit;
    font-family: "Barlow-Medium";
    @include font-size(12);
  }
  &--navigation-link,
  &--social-link,
  &--copyright-link,
  &--creator-link {
    color: $green-AB;
    &:link {
      text-decoration: none;
    }
    &:hover,
    &:active,
    &:focus {
      color: darken($green-AB, 15%);
    }
  }
  &--navigation {
    &-link {
      margin-right: 0.9375rem;
      text-transform: capitalize;
    }
  }
  &--social {
    &-link {
      margin-right: 0.625rem;
      @include font-size(16);
    }
  }
  &--copyright {
    &-year,
    &-rights,
    &-link {
      &:after {
        content: "|";
        margin-right: 0.4375rem;
        padding-left: 0.4375rem;
      }
    }
    &-link {
      &:last-of-type {
        &:after {
          content: "";
        }
      }
    }
  }
}
// ---
.home {
  .site-header {
    // overflow: auto;
    background-color: $dark;
    background-position: center center;
    background-repeat: no-repeat;
    @media (min-width: 48rem) and (max-width: 75rem) {
      background-size: cover;
    }
    &--title {
      text-align: center;
      margin: 5rem 0 2.5rem;
      padding: 0;
      color: $white;
      @include font-size(24);
    }
    &--form {
      padding-bottom: 10rem;
    }
    &--sticky {
      display: none;
    }
  }
}
// ---
.dashboard {
  .site-footer {
    color: $white;
    background-color: $green-AA;
    .row {
      &--top {
        border-bottom: 1px solid $green-AE;
      }
    }
    &--navigation-link,
    &--social-link,
    &--copyright-link,
    &--creator-link {
      color: $white;
      &:hover,
      &:active,
      &:focus {
        color: darken($white, 25%);
      }
    }
  }
}
