#modalQuickList.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalQuickList', aria-hidden='true')
	.modal-dialog.modal-dialog-centered(role='document')
		.modal-content
			.modal-header
				h5.modal-title 
					span.pin-icon 
					| Quick List
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') ×
			.modal-body
				ul.list-group
					li.list-group-item
						a(href="#") 
							span.business-name Joe the Plumber
							span.business-address 222 Islington Avenue, Etobicoke ON M8V 3W7
					li.list-group-item
						a(href="#") 
							span.business-name Public Plumbing
							span.business-address 222 Islington Avenue, Etobicoke ON M8V 3W7