#modalChangePassword.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLogin', aria-hidden='true')
	.modal-dialog.modal-dialog-centered(role='document')
		.modal-content
			.modal-header
				h5#modalLogin.modal-title(role="heading") Change Your Password
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') ×
			form
				.modal-body
					.form-row
						.col-md
							.form-group
								label(for="#acctOldPassword") Enter Your Old Password
								input#acctOldPassword.form-control(type="password", placeholder="Enter Your Old Password", required)
					.form-row
						.col-md
							.form-group
								label(for="#acctNewPassword") Enter a New Password
								input#acctNewPassword.form-control(type="password", placeholder="Enter a New Password", required)
					.form-row
						.col-md
							.form-group
								label(for="#acctConfirmPassword") Repeat New Password
								input#acctConfirmPassword.form-control(type="password", placeholder="Repeat New Password", required)
				.modal-footer
					button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel
					button.btn.btn-primary(type="submit") Submit