#modalNotification.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalNotification', aria-hidden='true')
	.modal-dialog(role='document')
		.modal-content
			.modal-header
				h5#modalNotification.modal-title Notification
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') ×
			.modal-body
				.alert.alert-success.alert-dismissible.fade.show(role="alert")
					h6.alert-heading New Promotion
					p.mb-0
						a(href="#") Joe the Plumber 
						|  has a new promotion.
					small.alert-date-time November 24, 2017
					button.close(type="button" data-dismiss="alert" aria-label="Close")
						span(aria-hidden="true") ×
				.alert.alert-success.alert-dismissible.fade.show(role="alert")
					h6.alert-heading New Promotion
					p.mb-0
						a(href="#") Alex the Carpenter 
						| has a new promotion.
					small.alert-date-time October 28, 2017
					button.close(type="button" data-dismiss="alert" aria-label="Close")
						span(aria-hidden="true") ×
				.alert.alert-info.alert-dismissible.fade.show(role="alert")
					h6.alert-heading Updated Infomration
					p.mb-0
						a(href="#") Joe the Plumber 
						| updated their contact information.
					small.alert-date-time September 28, 2017
					button.close(type="button" data-dismiss="alert" aria-label="Close")
						span(aria-hidden="true") ×