// MEDIA QUERY (MEDIUM SCREENS ONLY)
// Check this link for more information: http://v4-alpha.getbootstrap.com/layout/overview/#responsive-breakpoints
// 48rem = 768px
.site-callout {
  .container {
    padding-top: 4.5rem;
    padding-bottom: 5.5rem;
  }
  &--title {
    margin-bottom: 1.25rem;
    @include font-size(24);
  }
  .btn {
    &--fixed {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin-left: auto;
      margin-right: auto;
      width: 12.5rem;
    }
  }
}
.site-footer {
  .row {
    .column {
      margin-top: auto;
      margin-bottom: auto;
    }
    &--top {
      .column:first-of-type {
        margin-top: 1rem;
        margin-bottom: 0;
      }
      .column:last-of-type {
        margin-top: .5rem;
        margin-bottom: 1rem;
      }
    }
    &--bottom {
      .column:first-of-type {
        margin-top: 1rem;
        margin-bottom: 0;
      }
      .column:last-of-type {
        margin-top: .5rem;
        margin-bottom: 1rem;
      }
    }
  }
  &--social,
  &--creator {
    text-align: left;
  }
}