// MEDIA QUERY (SMALL SCREENS ONLY)
// Check this link for more information: http://v4-alpha.getbootstrap.com/layout/overview/#responsive-breakpoints
// 36rem = 576px

/*
Table of Content:
--- Page
*/

.page {
  &-standard {
    .navbar {
      &--small {
        .sidenav-page-title {
          width: 10rem;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          display: inline-block;
        }
      }
    }
    .site-header {
      &--sticky-link {
        padding: 1.25rem 1rem;
        // width: 10rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: inline-block;
      }
    }
  }
  &-admin {
    padding-top: 6.188rem;
    padding-bottom: 4rem;
    .site {
      &-admin {
        .site-content {
          &--cards {
            &-row {
              div {
                margin-top: .5rem;
              }
              .btn {
                display: block;
                margin: .5rem 0 0 0;
              }
            }
          }
        }
      }
    }
  }
}