.site-content
	.container
		.row
			.offset-sm-1.col-sm-10.text-center
				h1(role="heading")
					| #{pageTitle}
				p.lead We're sorry to inform you that the page you are looking for does not exisit.
				p Please navigate me back to the
					a(href="index.html")  home
					|  page.
