.site-content
	.container
		h1(role="heading")
			| #{pageTitle}
		p.lead BisRing is a company that provides all real-estate needs in one very convenient location. It allows for various types of businesses to promote themselves on a global scale and expand their business to a level beyond their expectation. BisRing is a gateway to a global expansion of revolutionizing the marketing sector of the real-estate industry by creating an all in one platform.
		p By having every real-estate need in one place, users have the convenience of accessing everything at the palm of their hands. A lot of business owners make decisions based off what is the most convenient for them. Time is very valuable and none of it can be wasted browsing on several sites trying to find every individual thing you need. BisRing cuts down all the unnecessary browsing by giving you everything you need.
		h2 How We Started?
		p Founder and CEO of BisRing was a tenant, property owner and investor who ran into difficulties finding reputable trades, professionals, and materials for his real-estate needs. This frustration prompted him to engineer a solution for everyone who face similar problems. He wanted a place where he can find everything he needed for his real-estate needs in one convenient location. Therefore, he created a platform for businesses in for sale, rent and services to come together and create a community where all real-estate needs can be found and fulfilled.
