.site-content
	.container
		h1(role="heading")
			| #{pageTitle}
		h2 Why join BisRing?
		p.lead You can become part of a fun loving growing team with diversified experience. If you want to take your career growth and creativity to the next level, BisRing provides the necessary freedom. We offer flexible hours and comfortable working environment for the benefit of our employees. If you are passionate towards taking new ideas and making them grow into something successful, BisRing is the perfect place for you. We want people who are determined and driven to help make BisRing grow into a more flourished company.
		p When you work at BisRing, we want to make sure your work space is a comfortable environment for you to work in. We have many facilities to provide you with all the necessities you need. BisRing encourages employees to expand their knowledge, so we provide required training and mentorship. When you work at BisRing, we value your ideas and promote employees to think creatively. We want to ensure everyone feels like they belong and have a purpose on the team.
