.site-content
	.container
		.row
			.col.text-center
				h1(role="heading")
					| #{pageTitle}
		.row
			.col.text-center
				h2 Your email is verified and your account is activated!
				br
				a.btn.btn-outline-primary(href="login.html") Please Login