.site-admin
	.container-fluid
		.row
			aside.site-sidebar.col-md-3(role="complementary")
				nav(role="navigation", data-js="site-sidebar--nav")
					ul.site-sidebar--list(role="list")
						li.site-sidebar--listitem(role="listitem", class=(dbId === 'my-account' ? 'active' : ''))
							a.site-sidebar--link(href="dashboard.html") My Account
						li.site-sidebar--listitem(role="listitem", class=(dbId === 'my-virtual-teams' ? 'active' : ''))
							a.site-sidebar--link(href="db-my-virtual-teams.html") My Virtual Teams
						li.site-sidebar--listitem(role="listitem", class=(dbId === 'my-reviews' ? 'active' : ''))
							a.site-sidebar--link(href="db-my-reviews.html") My Reviews
						li.site-sidebar--listitem(role="listitem", class=(dbId === 'my-businesses' ? 'active' : ''))
							a.site-sidebar--link(href="db-my-businesses.html") My Businesses
						li.site-sidebar--listitem(role="listitem", class=(dbId === 'my-recommended-businesses' ? 'active' : ''))
							a.site-sidebar--link(href="db-my-recommended-businesses.html") My Recommended Businesses
						li.site-sidebar--listitem(role="listitem", class=(dbId === 'my-followers' ? 'active' : ''))
							a.site-sidebar--link(href="db-my-followers.html") My Followers
						li.site-sidebar--listitem(role="listitem", class=(dbId === 'businesses-following' ? 'active' : ''))
							a.site-sidebar--link(href="db-businesses-following.html") Businesses I'm Following
						li.site-sidebar--listitem(role="listitem", class=(dbId === 'refer-bisring' ? 'active' : ''))
							a.site-sidebar--link(href="db-refer-bisring.html") Refer BisRing
						li.site-sidebar--listitem(role="listitem", class=(dbId === 'bisring-points' ? 'active' : ''))
							a.site-sidebar--link(href="db-bisring-points.html") BisRing Points
				a.btn.btn-primary.btn-block.site-sidebar--addbusiness(href="#") Add Business
			main.site-content.col-md-9(role="main")
				form.site-content--form(role="form")
					.site-content--cards.form-group
						h1(role="heading") My Account
						.site-content--cards-row
							h2 General Information
							a.btn.btn-secondary(href="#", role="link") Edit
							a.btn.btn-secondary(href="#", role="link") Change Password
						p
							| Prasanna Kugananthan
							br
							| prasanna@baustein.ca
					hr
					.site-content--cards.form-group
						.site-content--cards-row
							h2 Billing Address
							a.btn.btn-secondary(href="#", role="link") Edit
						p
							| 222 Islington Avenue, Suite 204
							br
							| Etobicoke, Ontario
							br
							| M8V 3H9
							br
							| Canada
					hr
					.site-content--cards.form-group
						.site-content--cards-row
							h2 Subscription (Annual)
							a.btn.btn-secondary(href="#", role="link") Buy More Categories
						p
							| You have used 
							a(href="#") 3 
							| out of 
							a(href="#") 4 
							| available 
							a(href="#") Business Categories
						p.highlight
							strong $72.00 / month 
							| (billed annually)
					hr
					.site-content--cards.form-group
						h2 Payment History
						table.table
							thead
								tr
									th Order
									th Date
									th Details
									th Amount
									th Status
							tbody
								tr
									td
										a(href="#") # 1636
									td
										| 03-20-2017 8:42 am EDT
									td
										| Annual Subscription Renewal
									td
										| $ 864.00
									td
										| Paid
								tr
									td
										a(href="#") # 1639
									td
										| 04-16-2016 9:03 am EDT
									td
										| Category Purchase (2)
									td
										| $ 40.00
									td
										| Paid
								tr
									td
										a(href="#") # 1743
									td
										| 04-22-2015 12:03 pm EDT
									td
										| Annual Subscription Renewal
									td
										| $ 864.00
									td
										| Paid