.site-admin
	.container-fluid
		.row
			aside.admin-nav.col-lg-3.col-md-4

			main.admin-content.col-lg-9.col-md-8(role="main")
				h1.page-title My Account
				section#generalInformation.admin-blocks
					form(action="")
						header
							h2 General Information
							.admin-blocks-btns
								a.edit.btn.btn-secondary(href="#") Edit
								a.update.btn.btn-secondary.hidden(href="") Update
								a.update.btn.btn-light.hidden(href="#") Cancel
								a.change-password.btn.btn-secondary(href="#") Change Password
						section.display-info
							.acct-user-name Prasanna Kugananthan
							.acct-user-email prasanna@baustein.ca
							.acct-user-phone (647) 430 5262
						section.edit-info
							.form-row
								.col-md
									.form-group
										label(for="#acctUserFirstName") First Name
										input#acctUserFirstName.form-control(type="text", placeholder="Enter your First Name", value="Prasanna", required)
								.col-md
									.form-group
										label(for="#acctUserLastName") Last Name
										input#acctUserLastName.form-control(type="text", placeholder="Enter your Last Name", value="Kugananthan", required)
							.form-row
								.col-md
									.form-group
										label(for="#acctUserEmail") Email Address
										input#acctUserFirstName.form-control(type="email", placeholder="Enter your First Name", value="prasanna@baustein.ca", required)
								.col-md
									.form-group
										label(for="#acctUserLastName") Phone Number (optional)
										input#acctUserLastName.form-control(type="tel" placeholder="Enter your Phone Number", value="647 430 5262")

				hr
