.site-content
	.container
		.row
			.col.text-center
				h1(role="heading")
					| #{pageTitle}
		.row
			.col-sm-5.text-center
				form#forgotPasswordEmailForm(role="form")
					.form-group
						label(for="inputEmail") Enter Your Email Address
						input#inputEmail.form-control(type="email", value="", required, tabindex="3")
					.form-group
						button.btn.btn-primary(type="submit") Reset
					.form-group
						small.form-text.text-muted You will receive an email with a recovery link to reset your password.
			.col-sm-2.text-center
				p OR
			.col-sm-5.text-center
				form#forgotPasswordPhoneForm(role="form")
					.form-group
						label(for="inputPhone") Enter Your Phone Number
						input#inputPhone.form-control(type="tel", value="", required, tabindex="4")
					.form-group
						button.btn.btn-primary(type="submit") Reset
					.form-group
						small.form-text.text-muted You will receive a text message with a recovery code to reset your password.