.site-content
	.container
		h1(role="heading")
			| #{pageTitle}
		form(role="form")
			.row
				.col-md-5
					.form-group
						label(for="inputEmail") Enter your Email Address
						input#inputEmail(type="text")
					.form-group
						a.btn.btn-primary(href="#") Reset
					.form-group
						small#emailHelp.form-text.text-muted You will receive an email with a recovery link to reset your password.
				.col-md-2 OR
				.col-md-5
					.form-group
						label(for="inputPhone") Enter your Phone Number
						input#inputPhone(type="number")
					.form-group
						a.btn.btn-primary(href="#") Reset
					.form-group
						small#emailHelp.form-text.text-muted You will receive a text message with a recovery code to reset your password.
.site-callout.site-callout--minimal
	.container
		a.btn.btn-primary.btn--fixed(href="#", role="link", data-toggle='modal', data-target='#modalQuickList')
			span.site-callout--icon.fas.fa-thumbtack
			| Quick List
			span.site-callout--badge.badge.badge-light 2