.site-content
	.container
		.row
			.col.text-center
				h1(role="heading")
					| #{pageTitle}
		.row.justify-content-sm-center
			.col-sm-6.text-center
				form#forgotPasswordEmailForm(role="form")
					.form-group
						label(for="inputEmail") Enter Your Email Address
						input#inputEmail.form-control(type="email", value="", required, tabindex="3")
					.form-group
						label(for="inputPhone") Enter Your Phone Number (optional)
						input#inputPhone.form-control(type="tel", value="", tabindex="4")
					.form-group
						button.btn.btn-primary(type="submit") Reset
					.form-group
						small.form-text.text-muted You will receive an email and/or a text message with a recovery code to reset your password.
