.site-feature
	.container
		h1.site-feature--title(role="heading") BisRing Advantage
		.row
			.col-sm-12.col-md-4.d-flex.align-items-stretch
				.card
					.card-header
						img.site-feature--thumbnail(src="images/icons/icon-location.svg", alt="Powerful Real Estate Problem", role="img")
					.card-body
						h2.site-feature--heading(role="heading") Powerful Real Estate Problem
						p.site-feature--content Find and access real estate related services, rent and soles in one location.
			.col-sm-12.col-md-4.d-flex.align-items-stretch
				.card
					.card-header
						img.site-feature--thumbnail(src="images/icons/icon-teams.svg", alt="Create Virtual Teams", role="img")
					.card-body
						h2.site-feature--heading(role="heading") Create Virtual Teams
						p.site-feature--content Stay up-to-date with all your professional (industry-related contacts automatically).
			.col-sm-12.col-md-4.d-flex.align-items-stretch
				.card
					.card-header
						img.site-feature--thumbnail(src="images/icons/icon-exposure.svg", alt="Global and Local Exposure", role="img")
					.card-body
						h2.site-feature--heading(role="heading") Global and Local Exposure
						p.site-feature--content BisRing offers unique features for the businesses to promote and develop themselves on a global scale and network with one another.
		a.btn.btn-secondary(href="#", role="link") Learn More
.site-callout.site-callout--standard(data-js="site-callout")
	img.site-callout--img.hidden(src="images/site-callout-become-a-bisringer.png", alt="Banner background")
	.container
		h1.site-callout--title Become a BisRinger
		a.btn.btn-primary(href="#", role="link") Register for Free
		a.btn.btn-primary.btn--fixed(href="#", role="link")
			span.site-callout--icon.fa.fa-thumb-tack(aria-hidden="true")
			| Quick List
			span.site-callout--badge.badge.badge-light 2