.site-feature
	.container-fluid.advantage
		.container
			.row.align-items-center
				.col
					img.img-fluid(src="images/bisring_advantage_01.gif", alt="Powerful Real Estate Platform")
				.col.copy
					h2 Powerful Real Estate Platform
					p Find and access real estate related services, rent and sales in one location.
					a.btn.btn-secondary(href="why-bisring.html", role="link") Learn More
	.container-fluid.advantage.alt
		.container
			.row.align-items-center
				.col.order-sm-12
					img.img-fluid(src="images/bisring_advantage_02.gif", alt="Create Virtual Teams")
				.col.copy.order-sm-1
					h2 Create Virtual Teams
					p Stay up-to-date with all your professional industry-related contacts automatically.
					a.btn.btn-secondary(href="register.html", role="link") Register Now
	.container-fluid.advantage
		.container
			.row.align-items-center
				.col
					img.img-fluid(src="images/bisring_advantage_03.gif", alt="Increase Your Market Visibility")
				.col.copy
					h2 Increase Your Market Visibility
					p Instant lead generation to new Business Bisringers and direct marketing to Business followers.
					a.btn.btn-secondary(href="why-bisring.html", role="link") Learn More



.site-callout.site-callout--standard(data-js="site-callout")
	img.site-callout--img.hidden(src="images/site-callout-become-a-bisringer.png", alt="Banner background")
	.container
		h1.site-callout--title Become a BisRinger
		a.btn.btn-primary(href="#", role="link") Register for Free
		a.btn.btn-primary.btn--fixed(href="#", role="link", data-toggle='modal', data-target='#modalQuickList')
			span.site-callout--icon.fas.fa-thumbtack
			| Quick List
			span.site-callout--badge.badge.badge-light 2