.site-content
	.container
		.row.justify-content-sm-center.align-items-center.h-100
			.col-lg-4.col-md-6.col-sm-6
				#loginWidget.card.card-block
					a.login-logo(href="http://bisring.com")
						img.img-fluid(src="images/BisRing_logo.jpg")
					.login-form
						form.needs-validation(novalidate)
							.form-group
								label.sr-only(for='loginEmail') Email address
								input#loginEmail.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter Address', required, tabindex='1')
								.invalid-feedback
									| Proper provide a proper email address
							.form-group
								label.sr-only(for='loginPassword') Password
								input#loginPassword.form-control(type='password', placeholder='Password', required, tabindex='2')
								.invalid-feedback
									| Proper provide a password
							.row.submit.d-flex.justify-content-between
								.col-md-5
									button.btn.btn-secondary.btn-block.btn-lg(type='submit', tabindex='3') Log In
								.col-md-7
									.login-forgot-password
										a.btn.btn-link(href="forgot-password.html", tabindex='4') Forgot Password?
						.row
							.col.choose-sm
								span OR Login Via
						.row
							.col-12
								a.btn.btn-block.btn-facebook.d-flex.align-items-center.justify-content-between(href="#", tabindex='5')
									i.fab.fa-facebook-square
									| Facebook
									span.spacer &nbsp;
							.col-12
								a.btn.btn-block.btn-google.d-flex.align-items-center.justify-content-between(href="#", tabindex='6')
									i.fab.fa-google-plus-square
									| Google
									span.spacer &nbsp;
							.col-12
								a.btn.btn-block.btn-linkedin.d-flex.align-items-center.justify-content-between(href="#", tabindex='7')
									i.fab.fa-linkedin
									| LinkedIn
									span.spacer &nbsp;