.site-content
	.container
		.row
			.col.text-center
				h1(role="heading")
					| #{pageTitle}
		.row
			.col-sm-6.offset-sm-3.text-center
				form#resetPasswordForm(role="form")
					.form-group
						label(for="inputCode") Code Sent to Your Phone
						input#inputCode.form-control(type="number", value="", required, tabindex="3")
					.form-group
						label(for="inputNewPassword") New Password
						input#inputNewPassword.form-control(type="password", value="", required, tabindex="4")
					.form-group
						label(for="inputRepeatPassword") Repeat Password
						input#inputRepeatPassword.form-control(type="password", value="", required, tabindex="5")
					.form-group
						button.btn.btn-primary(type="submit") Reset