.site-content
	.container
		h1(role="heading")
			| #{pageTitle}
		form(role="form")
			.row
				.col-sm-12
					.form-group.hidden
						label(for="inputCode") Code Sent to Your Phone
						input#inputCode(type="number")
					.form-group
						label(for="inputNewPassword") New Password
						input#inputNewPassword(type="password")
					.form-group
						label(for="inputRepeatPassword") Repeat Password
						input#inputRepeatPassword(type="password")
					.form-group
						a.btn.btn-primary(href="#") Login
.site-callout.site-callout--minimal
	.container
		a.btn.btn-primary.btn--fixed(href="#", role="link", data-toggle='modal', data-target='#modalQuickList')
			span.site-callout--icon.fas.fa-thumbtack
			| Quick List
			span.site-callout--badge.badge.badge-light 2