.site-content
	.container
		h1(role="heading")
			| #{pageTitle}
		img.img-fluid(src="images/business-gathering.jpg")
		
.site-callout.site-callout--minimal
	.container
		a.btn.btn-primary.btn--fixed(href="#", role="link", data-toggle='modal', data-target='#modalQuickList')
			span.site-callout--icon.fas.fa-thumbtack
			| Quick List
			span.site-callout--badge.badge.badge-light 2