.site-content
	.container
		.row
			.offset-sm-1.col-sm-10.text-center
				h1(role="heading")
					| #{pageTitle}
				p.lead As a BisRinger you gain access to many features that allow you to interact with businesses in your area and satisfy all your real-estate needs. You can follow all your favourite businesses to receive notifications on any special promotions they may have. Create Virtual Teams in multiple cities to have contacts of companies that you will want to work with or will potentially need a service from in the future.
				br
		form#registrationForm(role="form" action="")
			.form-row
				.col-md-6
					.form-group
						label(for="inputFirstName") First Name
						input#inputFirstName.form-control(type="text", value="", required, tabindex="1")
				.col-md-6
					.form-group
						label(for="inputLastName") Last Name
						input#inputLastName.form-control(type="text", value="", required, tabindex="2")
			.form-row
				.col-md-6
					.form-group
						label(for="inputEmail") Email
						input#inputEmail.form-control(type="email", value="", required, tabindex="3")
				.col-md-6
					.form-group
						label(for="inputPhone") Phone (Optional)
						input#inputPhone.form-control(type="tel", value="", tabindex="4")
			.form-row
				.col-md-6
					.form-group
						label(for="inputPassword") Password
						input#inputPassword.form-control(type="password", value="", required, tabindex="5")
				.col-md-6
					.form-group
						label(for="inputRepeatPassword") Repeat Password
						input#inputRepeatPassword.form-control(type="password", required, value="", tabindex="6")
			.form-row
				.col-md
					.form-group
						.card.card-block
							h5 Terms &amp; Conditions
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lacinia sem convallis, vestibulum odio vel, porttitor dolor. Vivamus non libero libero. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam a aliquam urna, non sodales quam. Aliquam at lorem sodales metus faucibus aliquam. Ut porta, leo eget efficitur sagittis, purus lacus lobortis turpis, in euismod mauris enim vel ante. Fusce eget pellentesque enim, ac maximus massa. Nam dui tellus, pretium feugiat elit eu, cursus luctus nisl. Donec quis nulla mauris. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi convallis accumsan bibendum. Aenean pellentesque augue eget nisi ultricies volutpat. Nullam quis justo justo. Vestibulum arcu turpis, ultricies quis ullamcorper a, commodo a turpis. Integer euismod vel nisi id consectetur. Nam condimentum odio quis pellentesque dapibus.
							p Aliquam rutrum quam dolor, a sagittis quam condimentum vitae. In sed mollis magna, non hendrerit diam. Sed lacus massa, scelerisque eget congue sit amet, viverra efficitur ipsum. Praesent lacinia accumsan nunc, at fermentum est vulputate nec. Praesent elit risus, pellentesque nec ultrices et, consequat sed libero. Curabitur a porta nunc. Donec tincidunt mattis dui. Nullam at sodales odio. Vestibulum porta risus non urna pulvinar sollicitudin. Maecenas mi urna, iaculis id metus vitae, sagittis venenatis ex. Aenean posuere odio vel ipsum aliquet gravida. Pellentesque pharetra ac ligula quis consequat.
							p Nam ac metus vulputate, sagittis dui a, posuere ex. Donec cursus placerat elit, a convallis enim maximus in. Donec vitae leo at orci pretium hendrerit in ac ante. Morbi elementum, massa vitae hendrerit ullamcorper, eros libero vehicula ante, sed lobortis tellus est id ante. Praesent aliquet erat at ante varius ornare. Aenean auctor orci lacus, sed finibus tortor finibus in. Suspendisse id odio est. Maecenas vulputate mi sit amet nisi ultrices venenatis. Proin ut erat eget felis dictum posuere. Sed sodales, velit vel aliquet volutpat, neque orci varius neque, id tincidunt ipsum leo quis ante. Vestibulum nec eleifend neque. Praesent dignissim neque ante, ac pulvinar ipsum convallis sit amet. Fusce velit magna, euismod nec lobortis quis, fermentum et ante.
			.form-row
				.col-md
					.custom-control.custom-checkbox
						input#acceptTerms.custom-control-input(type="checkbox", required, tabindex="7")
						label.custom-control-label(for="acceptTerms") I Accept the Terms &amp; Conditions
				.col-md.text-right
					button.btn.btn-primary(type="submit", tabindex="8") Register
.site-callout.site-callout--minimal
	.container
		a.btn.btn-primary.btn--fixed(href="#", role="link", data-toggle='modal', data-target='#modalQuickList')
			span.site-callout--icon.fas.fa-thumbtack
			| Quick List
			span.site-callout--badge.badge.badge-light 2
