.site-content
	.container
		.row
			.col.text-center
				h1(role="heading")
					| #{pageTitle}
		.row
			.col.text-center
				h2 An email has been sent to your email account to verify registration.
				p Please click link in the email to confirm registration and activate your account.
				br
				a.btn.btn-outline-primary(href="http://bisring.com") Back to Home Page