.site-content
	.container
		h1(role="heading")
			| #{pageTitle}
		form(role="form")
			.row
				.col-md-6
					.form-group
						label(for="inputFirstName") First Name
						input#inputFirstName(type="text")
					.form-group
						label(for="inputEmail") Email
						input#inputEmail(type="text")
					.form-group
						label(for="inputPassword") Password
						input#inputPassword(type="password")
				.col-md-6
					.form-group
						label(for="inputLastName") Last Name
						input#inputLastName(type="text")
					.form-group
						label(for="inputPhone") Phone (Optional)
						input#inputPhone(type="number")
					.form-group
						label(for="inputRepeatPassword") Repeat Password
						input#inputRepeatPassword(type="password")
			.row
				.col-sm-12
					.form-group
						a.btn.btn-primary(href="#") Register
.site-callout.site-callout--minimal
	.container
		a.btn.btn-primary.btn--fixed(href="#", role="link", data-toggle='modal', data-target='#modalQuickList')
			span.site-callout--icon.fas.fa-thumbtack
			| Quick List
			span.site-callout--badge.badge.badge-light 2