.site-search-results
	ul#searchResults.nav.nav-tabs.search--list(role='tablist')
		li.nav-item.search--list-item
			a#mapView-tab.nav-link.active.search--list-link(data-toggle='tab', href='#mapView', role='tab', aria-controls='mapViewhome', aria-selected='true') Map View
		li.nav-item.search--list-item
			a#listView-tab.nav-link.search--list-link(data-toggle='tab', href='#listView', role='tab', aria-controls='listView', aria-selected='false') List View
	#searchResults.tab-content.search--tabs
		#mapView.tab-pane.fade.show.active.search--tab-map(role='tabpanel', aria-labelledby='mapView-tab')
			header.search--tab-list-header
				span.search--tab-list-header-small
					span.search--tab-list-tag Plumbers
					span.search--tab-list-count (6)
			footer.search--tab-map-footer
				#map
		#listView.tab-pane.fade.search--tab-list(role='tabpanel', aria-labelledby='listView-tab')
			.container
				header.search--tab-list-header
					span.search--tab-list-header-large
						| Found 
						span.search--tab-list-count 6 
						| Results for:
						span.search--tab-list-tag Plumbers
					span.search--tab-list-header-small
						span.search--tab-list-tag Plumbers
						span.search--tab-list-count (6)
					.search--tab-list-sort
						a.search--tab-list-sort-name(href="#", role="link")
							span.search--tab-list-sort-icon.fas.fa-sort
							span.search--tab-list-sort-label Sort By 
							| Name
						a.search--tab-list-sort-rating(href="#", role="link")
							span.search--tab-list-sort-icon.fas.fa-sort-down
							span.search--tab-list-sort-label Sort By 
							| Rating
				footer.search--tab-list-footer
					ul.search--tab-list-items
						li.search--tab-list-item.active
							header.search--tab-list-item-header
								img.search--tab-list-item-thumb(src="http://placebear.com/160/85", alt="I am a thumbnail for a specific search")
								a.search--tab-list-item-name(href="#", role="link")
									| Joe the Plumber
								a.search--tab-list-item-pin(href="#", role="link")
									span.pin-icon
								a.search--tab-list-item-phone(href="#", role="link")
									span.fas.fa-phone
									| (416) 555-5555
								span.search--tab-list-item-location
									span.fas.fa-map-marker-alt
									| 222 Islington Avenue, Etobicoke ON M8V 3W7
							footer.search--tab-list-item-footer
								div.search--tab-list-item-stars
									select(data-js="search--tab-list-item-stars")
										option(value='1') 1
										option(value='2') 2
										option(value='3') 3
										option(value='4') 4
										option(value='5') 5
								a.search--tab-list-item-reviews(href="#", role="link") 2 reviews
						li.search--tab-list-item.active
							header.search--tab-list-item-header
								img.search--tab-list-item-thumb(src="http://placebear.com/160/85", alt="I am a thumbnail for a specific search")
								a.search--tab-list-item-name(href="#", role="link")
									| Public Plumbing
								a.search--tab-list-item-pin(href="#", role="link")
									span.pin-icon
								a.search--tab-list-item-phone(href="#", role="link")
									span.fas.fa-phone
									| (416) 555-5555
								span.search--tab-list-item-location
									span.fas.fa-map-marker-alt
									| 222 Islington Avenue, Etobicoke ON M8V 3W7
							footer.search--tab-list-item-footer
								div.search--tab-list-item-stars
									select(data-js="search--tab-list-item-stars")
										option(value='1') 1
										option(value='2', selected) 2
										option(value='3') 3
										option(value='4') 4
										option(value='5') 5
								a.search--tab-list-item-reviews(href="#", role="link") 5 reviews
						li.search--tab-list-item
							header.search--tab-list-item-header
								img.search--tab-list-item-thumb(src="http://placebear.com/160/85", alt="I am a thumbnail for a specific search")
								a.search--tab-list-item-name(href="#", role="link")
									| Waterworks Plumbing
								a.search--tab-list-item-pin(href="#", role="link")
									span.pin-icon
								a.search--tab-list-item-phone(href="#", role="link")
									span.fas.fa-phone
									| (416) 555-5555
								span.search--tab-list-item-location
									span.fas.fa-map-marker-alt
									| 222 Islington Avenue, Etobicoke ON M8V 3W7
							footer.search--tab-list-item-footer
								div.search--tab-list-item-stars
									select(data-js="search--tab-list-item-stars")
										option(value='1') 1
										option(value='2') 2
										option(value='3', selected) 3
										option(value='4') 4
										option(value='5') 5
								a.search--tab-list-item-reviews(href="#", role="link") 5 reviews
						li.search--tab-list-item
							header.search--tab-list-item-header
								img.search--tab-list-item-thumb(src="http://placebear.com/160/85", alt="I am a thumbnail for a specific search")
								a.search--tab-list-item-name(href="#", role="link")
									| Drain Rescue Plumbers Toronto
								a.search--tab-list-item-pin(href="#", role="link")
									span.pin-icon
								a.search--tab-list-item-phone(href="#", role="link")
									span.fas.fa-phone
									| (416) 555-5555
								span.search--tab-list-item-location
									span.fas.fa-map-marker-alt
									| 222 Islington Avenue, Etobicoke ON M8V 3W7
							footer.search--tab-list-item-footer
								div.search--tab-list-item-stars
									select(data-js="search--tab-list-item-stars")
										option(value='1') 1
										option(value='2') 2
										option(value='3') 3
										option(value='4') 4
										option(value='5') 5
								a.search--tab-list-item-reviews(href="#", role="link") 5 reviews
.site-callout.site-callout--minimal
	.container
		a.btn.btn-primary.btn--fixed(href="#", role="link", data-toggle='modal', data-target='#modalQuickList')
			span.site-callout--icon.fas.fa-thumbtack
			| Quick List
			span.site-callout--badge.badge.badge-light 2