.site-content
	.container
		.row
			.offset-md-1.col-md-10.col-sm-12
				h1(role="heading")
					| #{pageTitle}
				p.lead There are many existing websites that provide similar services that BisRing does, so why come here? BisRing provides a platform where you can find every possible real estate interactions. We allow the users to access real estate related Services, Rent and Sales all in one location.
				p We allow BisRingers to create virtual teams to access and dynamically stay up to date with professionals in the industry which eliminates outdated business contacts from business cards, mobiles and emails.
				p All kinds of businesses related to real estate can market themselves through our well categorized and structured platform to attain global recognition. BisRing offers unique features for the businesses to promote and develop themselves on a global scale and network with one another.
				table.table
					thead
						tr
							th Advantages
							th Registered BisRinger
							th Business BisRinger
					tbody
						tr
							td Follow your favourite businesses
							td
								span.fas.fa-check
							td
								span.fas.fa-check
						tr
							td Give review for businesses you have worked with
							td
								span.fas.fa-check
							td
								span.fas.fa-check
						tr
							td Rank the businesses you’ve worked with
							td
								span.fas.fa-check
							td
								span.fas.fa-check
						tr
							td Create your Virtual Team
							td
								span.fas.fa-check
							td
								span.fas.fa-check
						tr
							td Receive relevant marketing promotions instantly (Instant Lead Generation)
							td
								span.fas.fa-check
							td
								span.fas.fa-check
						tr
							td Become a BisRing promoter and accumulate credit points
							td
								span.fas.fa-check
							td
								span.fas.fa-check
						tr
							td Create an attractive profile with videos, images and audio files
							td
								span &#8211;
							td
								span.fas.fa-check
						tr
							td Recommend your preferred businesses to others
							td
								span &#8211;
							td
								span.fas.fa-check
						tr
							td Promote your business on our special offers page to increase traffic to your business
							td
								span &#8211;
							td
								span.fas.fa-check
						tr
							td Promote your branding with displayed logo and website link
							td
								span &#8211;
							td
								span.fas.fa-check
						tr
							td Be a member of the Virtual Team
							td
								span &#8211;
							td
								span.fas.fa-check
						tr
							td Receive good rankings and/or reviews
							td
								span &#8211;
							td
								span.fas.fa-check
						tr
							td Benefit from the Instant Lead Generation to your followers 
							td
								span &#8211;
							td
								span.fas.fa-check
.site-callout.site-callout--standard(data-js="site-callout")
	img.site-callout--img.hidden(src="images/site-callout-become-a-bisringer.png", alt="Banner background")
	.container
		h1.site-callout--title Become a BisRinger
		a.btn.btn-primary(href="register.html", role="link") Register for Free
		a.btn.btn-primary.btn--fixed(href="#", role="link", data-toggle='modal', data-target='#modalQuickList')
			span.site-callout--icon.fas.fa-thumbtack
			| Quick List
			span.site-callout--badge.badge.badge-light 2