.site-content
	.container
		.row
			.offset-md-1.col-md-10.col-sm-12
				h1(role="heading")
					| #{pageTitle}
				p.lead There could be many websites that exist and provide similar services that BisRing does, so why come here? BisRing provides a platform where you can find every possible real-estate interactions. We allow the users to access real-estate related Services, Rent and Sales all in one location.
				p With these three primary categories, it allows us to create various sub categories that fall under each one and market to a large variety of businesses. Under services you will find a wide variety of businesses that provide every service you can possibly think of that falls under real-estate. It ranges from plumbers, electricians, house cleaners, Real-estate Lawyers to mentors who will educate you about the real-estate field. For rent and sale, we offer categories such as housing, tools, materials, appliances, and furniture. These are just a sample of the many categories we offer, we wanted to hit every aspect of the real-estate field as much as possible and cover all grounds.
				p BisRingers can create virtual teams to access and dynamically stay up to date with professionals in the industry which eliminates outdated business contacts from business cards, mobiles and emails. If you are working on a project and require services from several businesses, you can add them to your virtual team and you have access to all of them in one location. You can create virtual teams based off locations you are working at, so you can only include businesses that work in that area.
				p All kinds of businesses related to real-estate can market themselves through our well categorized and structured platform to attain global exposure. BisRing offers unique features for the businesses to promote and develop themselves on a global scale and network with one another.
				p When a user leaves a review, we make sure our admins go through every review thoroughly to make sure they follow our guidelines. We want to make sure our ProBisRingers aren&rsquo;t being attacked by users and being falsely accused of providing terrible service and being unpleasant with clients. We take reviews very seriously as it affects the business of many users and we want to ensure everyone is satisfied by the end.
				table.table
					thead
						tr
							th Advantages
							th BisRinger Advantages:
							th ProBisRinger Advantages:
					tbody
						tr
							td Follow businesses
							td
								span.fas.fa-check
							td
								span.fas.fa-check
						tr
							td Give reviews for businesses you have worked with
							td
								span.fas.fa-check
							td
								span.fas.fa-check
						tr
							td Rank the businesses you’ve worked with
							td
								span.fas.fa-check
							td
								span.fas.fa-check
						tr
							td Create your Virtual Team in multiple cities
							td
								span.fas.fa-check
							td
								span.fas.fa-check
						tr
							td Receive relevant marketing promotions instantly
							td
								span.fas.fa-check
							td
								span.fas.fa-check
						tr
							td Become a BisRing advocate and accumulate BisRing points
							td
								span.fas.fa-check
							td
								span.fas.fa-check
						tr
							td Receive reviews for your business transactions
							td
								span &#8211;
							td
								span.fas.fa-check
						tr
							td Receive a rank from your customers
							td
								span &#8211;
							td
								span.fas.fa-check
						tr
							td Receive high rankings to be at the top of search results
							td
								span &#8211;
							td
								span.fas.fa-check
						tr
							td Be part of multiple Virtual Teams for increased interactions
							td
								span &#8211;
							td
								span.fas.fa-check
						tr
							td Send marketing promotions instantly (Instant Lead Generation)
							td
								span &#8211;
							td
								span.fas.fa-check
						tr
							td Upload videos, images and audio files to your profile
							td
								span &#8211;
							td
								span.fas.fa-check
						tr
							td Recommend your preferred businesses to others
							td
								span &#8211;
							td
								span.fas.fa-check
						tr
							td Promote your business by adding special offers
							td
								span &#8211;
							td
								span.fas.fa-check
						tr
							td Enhance your branding with displayed logo and website
							td
								span &#8211;
							td
								span.fas.fa-check
						tr
							td Utilize our well-organized business categories
							td
								span &#8211;
							td
								span.fas.fa-check
						tr
							td Be part of a real-estate mass marketing platform
							td
								span &#8211;
							td
								span.fas.fa-check
.site-callout.site-callout--standard(data-js="site-callout")
	img.site-callout--img.hidden(src="images/site-callout-become-a-bisringer.png", alt="Banner background")
	.container
		h1.site-callout--title Become a BisRinger
		a.btn.btn-primary(href="register.html", role="link") Register for Free
		a.btn.btn-primary.btn--fixed(href="#", role="link", data-toggle='modal', data-target='#modalQuickList')
			span.site-callout--icon.fas.fa-thumbtack
			| Quick List
			span.site-callout--badge.badge.badge-light 2
