.site-banner
	.container
		.row
			.col-sm-12
				h2 Find All Your Real Estate Needs and More in One Location.
				p Some form fields here...
.site-content
	.container
		h1 BisRing Advantage
		.row
			.col-sm-4
				.col-wrap
					img(src="http://placehold.it/100x100", alt="Powerful Real Estate Problem", role="img")
					h2 Powerful Real Estate Problem
					p Find and access real estate related services, rent and soles in one location
			.col-sm-4
				.col-wrap
					img(src="http://placehold.it/100x100", alt="Create Virtual Teams", role="img")
					h2 Create Virtual Teams
					p Stay up-to-date with all your professional (industry-related contacts automatically)
			.col-sm-4
				.col-wrap
					img(src="http://placehold.it/100x100", alt="Global and Local Exposure", role="img")
					h2 Global and Local Exposure
					p BisRing offers unique features for the businesses to promote and develop themselves on a global scale and network with one another
		a(href="#", role="link") Learn More
.site-callout
	.container
		h1 Become a BisRinger
		a(href="#", role="link") Register for Free
		a(href="#", role="link", data-toggle='modal', data-target='#modalQuickList')
			i.fa.fa-thumb-tack(aria-hidden="true")
			| Quicktest