.site-content
	.container
		h1(role="heading")
			| #{pageTitle}
		p.lead There are many existing websites that provide similar services that BisRing does, so why come here? BisRing provides a platform where you can find every possible real estate interactions. We allow the users to access real estate related Services, Rent and Sales all in one location. 
		p We allow BisRingers to create virtual teams to access and dynamically stay up to date with professionals in the industry which eliminates outdated business contacts from business cards, mobiles and emails.
		p All kinds of businesses related to real estate can market themselves through our well categorized and structured platform to attain global recognition. BisRing offers unique features for the businesses to promote and develop themselves on a global scale and network with one another.
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque aut nulla earum! Accusamus ducimus sequi repellendus? Error, illo inventore, consequatur iure laudantium veritatis quisquam a perspiciatis eligendi ipsum impedit omnis.
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque aut nulla earum! Accusamus ducimus sequi repellendus? Error, illo inventore, consequatur iure laudantium veritatis quisquam a perspiciatis eligendi ipsum impedit omnis.
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque aut nulla earum! Accusamus ducimus sequi repellendus? Error, illo inventore, consequatur iure laudantium veritatis quisquam a perspiciatis eligendi ipsum impedit omnis.
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque aut nulla earum! Accusamus ducimus sequi repellendus? Error, illo inventore, consequatur iure laudantium veritatis quisquam a perspiciatis eligendi ipsum impedit omnis.
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque aut nulla earum! Accusamus ducimus sequi repellendus? Error, illo inventore, consequatur iure laudantium veritatis quisquam a perspiciatis eligendi ipsum impedit omnis.
.site-callout.site-callout--standard(data-js="site-callout")
	img.site-callout--img.hidden(src="images/site-callout-become-a-bisringer.png", alt="Banner background")
	.container
		h1.site-callout--title Become a BisRinger
		a.btn.btn-primary(href="register.html", role="link") Register for Free
		a.btn.btn-primary.btn--fixed(href="#", role="link", data-toggle='modal', data-target='#modalQuickList')
			span.site-callout--icon.fas.fa-thumbtack
			| Quick List
			span.site-callout--badge.badge.badge-light 2