.site-content
	.container
		h1(role="heading")
			| #{pageTitle}
		p.lead There are many existing websites that provide similar services that BisRing does, so why come here? BisRing provides a platform where you can find every possible real estate interactions. We allow the users to access real estate related Services, Rent and Sales all in one location. 
		p We allow BisRingers to create virtual teams to access and dynamically stay up to date with professionals in the industry which eliminates outdated business contacts from business cards, mobiles and emails.
		h2 Advantages for Registered Bisringer
		ul
			li Some Advantage...
			li Some Advantage...
			li Some Advantage...
			li Some Advantage...
		h2 Advantages for Business Bisringer
		ul
			li Some Advantage...
			li Some Advantage...
			li Some Advantage...
			li Some Advantage...
.site-callout.site-callout--standard(data-js="site-callout")
	img.site-callout--img.hidden(src="images/site-callout-become-a-bisringer.png", alt="Banner background")
	.container
		h1.site-callout--title Become a BisRinger
		a.btn.btn-primary(href="register.html", role="link") Register for Free
		a.btn.btn-primary.btn--fixed(href="#", role="link", data-toggle='modal', data-target='#modalQuickList')
			span.site-callout--icon.fas.fa-thumbtack
			| Quick List
			span.site-callout--badge.badge.badge-light 2