nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark.navbar--large(role="navigation")
  .container
    a.navbar-brand(href='index.html', role="link")
      img.sidenav-logo(src="images/logo-bisring-white.png", alt="BisRing", role="img")
      span.sr-only BisRing Logo
    ul.navbar-nav.ml-auto.navbar-list-large(role="list")
      li.nav-item(role="listitem", class=(pageId === 'why-bisring' ? 'active' : ''))
        a.nav-link(role="link", href='why-bisring.html') Why BisRing?
      li.nav-item(role="listitem", class=(pageId === 'login' ? 'active' : ''))
        a.nav-link(role="link", href='#', data-toggle='popover', data-js="popover-login", id="login") Login
      li.nav-item(role="listitem", class=(pageId === 'register' ? 'active' : ''))
        a.nav-link(role="link", href='register.html') Register