nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
  .container
    a.navbar-brand(href='/index.html')
      | BisRing
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarsExampleDefault.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item(class=(bodyClass === 'why-bisring' ? 'active' : ''))
          a.nav-link(href='/why-bisring.html') Why BisRing?
        li.nav-item(class=(bodyClass === 'login' ? 'active' : ''))
          a.nav-link(href='/login.html') Login
        li.nav-item(class=(bodyClass === 'register' ? 'active' : ''))
          a.nav-link(href='/register.html') Register
