header
  nav.navbar.navbar-expand-lg.navbar-dark.indigo
    a.navbar-brand(href='/') Navbar
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#basicExampleNav', aria-controls='basicExampleNav', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #basicExampleNav.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item(class=(bodyClass === 'home' ? 'active' : ''))
          a.nav-link.waves-effect.waves-light(href='/')
            | Home
            span.sr-only (current)
        li.nav-item(class=(bodyClass === 'about-us' ? 'active' : ''))
          a.nav-link.waves-effect.waves-light(href='/about.html') About
        li.nav-item
          a.nav-link.waves-effect.waves-light(href='#') Pricing
        li.nav-item.dropdown
          a#navbarDropdownMenuLink.nav-link.dropdown-toggle.waves-effect.waves-light(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Dropdown
          .dropdown-menu.dropdown-primary(aria-labelledby='navbarDropdownMenuLink')
            a.dropdown-item.waves-effect.waves-light(href='#') Action
            a.dropdown-item.waves-effect.waves-light(href='#') Another action
            a.dropdown-item.waves-effect.waves-light(href='#') Something else here
      form.form-inline
        .md-form.mt-0
          .waves-input-wrapper.waves-effect.waves-light
            input.form-control.mr-sm-2(placeholder='Search', aria-label='Search', type='text')