nav.offcanvas(data-js="offcanvas")
	a.offcanvas-dismiss(href="#", role="link", data-js="offcanvas-dismiss")
		i.fa.fa-times-thin.fa-2x(aria-hidden="true")
	.offcanvas-header
		img(src="images/logo-bisring-icon-white.png", alt="BisRing")
		h3.sr-only(role="heading") BisRing
	ul.list-unstyled.components(role="list")
		li.active(role="listitem")
			a(href='#', role="link") Home
		li(role="listitem")
			a(href='#', role="link") About
		li(role="listitem")
			a(href='#homeSubmenu', data-toggle='collapse', aria-expanded='false') Pages
			ul#homeSubmenu.collapse.list-unstyled(role="list")
				li(role="listitem")
					a(href='#', role="link") Page
				li(role="listitem")
					a(href='#', role="link") Page
				li(role="listitem")
					a(href='#', role="link") Page
		li(role="listitem")
			a(href='#', role="link") Portfolio
		li(role="listitem")
			a(href='#', role="link") Contact
	ul.list-unstyled.buttons
		li
			a.download(href='#') Download source
		li
			a.article(href='#') Back to article
