.offcanvas-wrapper
	nav.offcanvas(data-js="offcanvas")
		a.offcanvas-dismiss(href="#", role="link", data-js="offcanvas-dismiss")
			span.offcanvas-icon.far.fa-times.fa-2x
		.offcanvas-header
			//- img(src="images/logo-bisring-icon-white.png", alt="BisRing")
			span.offcanvas-user Prasanna Kugananthan
			a.offcanvas-title(href="#", role="link", data-toggle='modal', data-target='#modalLogin')
				span.offcanvas-icon.fas.fa-key
				| Logout
		ul.list-unstyled.components.offcanvas-list(role="list")
			li.active.offcanvas-listitem(role="listitem")
				a.offcanvas-link(href='#', role="link")
					span.offcanvas-icon.fas.fa-home
					| Home
			li.offcanvas-listitem(role="listitem")
				a.offcanvas-link(href='#', role="link")
					span.offcanvas-icon.fas.fa-star
					| Why BisRing?
			li.offcanvas-listitem(role="listitem")
				a.offcanvas-link(href='#', role="link")
					span.offcanvas-icon.fas.fa-bookmark
					| About Us
			li.offcanvas-listitem(role="listitem")
				a.offcanvas-link(href='#', role="link")
					span.offcanvas-icon.fas.fa-question
					| FAQs
			li.offcanvas-listitem(role="listitem")
				a.offcanvas-link(href='#', role="link")
					span.offcanvas-icon.fas.fa-tachometer-alt
					| Careers
			li.offcanvas-listitem(role="listitem")
				a.offcanvas-link(href='#', role="link")
					span.offcanvas-icon.fas.fa-newspaper
					| Press
			li.offcanvas-listitem(role="listitem")
				a.offcanvas-link(href='#', role="link")
					span.offcanvas-icon.fas.fa-envelope
					| Contact Us
			li.offcanvas-listitem(role="listitem")
				a.offcanvas-link(href='#', role="link")
					span.offcanvas-icon.fas.fa-clipboard-list
					| Become a Bisringer
.offcanvas-overlay(data-js="offcanvas-overlay")
nav.navbar--small(role="navigation")
	a.offcanvas-collapse(href="#", role="link", data-js="offcanvas-collapse")
		//- span.offcanvas-icon.fa.fa-bars
		span.offcanvas-icon.fas.fa-bars
		//- img(src="images/logo-bisring-icon-white.png", alt="BisRing")
		span.sr-only BisRing