nav.offcanvas(data-js="offcanvas")
	a.offcanvas-dismiss(href="#", role="link", data-js="offcanvas-dismiss")
		span.offcanvas-icon.fa.fa-times-thin.fa-2x(aria-hidden="true")
	.offcanvas-header
		//- img(src="images/logo-bisring-icon-white.png", alt="BisRing")
		h1.offcanvas-title(role="heading")
			span.offcanvas-icon.fa.fa-home(aria-hidden="true")
			| Home
	ul.list-unstyled.components.offcanvas-list(role="list")
		li.active.offcanvas-listitem(role="listitem")
			a.offcanvas-link(href='#', role="link")
				span.offcanvas-icon.fa.fa-home(aria-hidden="true")
				| Home
		li.offcanvas-listitem(role="listitem")
			a.offcanvas-link(href='#', role="link")
				span.offcanvas-icon.fa.fa-star(aria-hidden="true")
				| Why BisRing?
		li.offcanvas-listitem(role="listitem")
			a.offcanvas-link(href='#', role="link")
				span.offcanvas-icon.fa.fa-bookmark(aria-hidden="true")
				| About Us
		li.offcanvas-listitem(role="listitem")
			a.offcanvas-link(href='#', role="link")
				span.offcanvas-icon.fa.fa-question(aria-hidden="true")
				| FAQs
		li.offcanvas-listitem(role="listitem")
			a.offcanvas-link(href='#', role="link")
				span.offcanvas-icon.fa.fa-tachometer(aria-hidden="true")
				| Careers
		li.offcanvas-listitem(role="listitem")
			a.offcanvas-link(href='#', role="link")
				span.offcanvas-icon.fa.fa-newspaper-o(aria-hidden="true")
				| Press
		li.offcanvas-listitem(role="listitem")
			a.offcanvas-link(href='#', role="link")
				span.offcanvas-icon.fa.fa-envelope(aria-hidden="true")
				| Contact Us
		li.offcanvas-listitem(role="listitem")
			a.offcanvas-link(href='#', role="link")
				span.offcanvas-icon.fa.fa-calendar-check-o(aria-hidden="true")
				| Become a Bisringer