.sidenav-wrapper
	nav.sidenav(data-js="sidenav", role="navigation")
		a.sidenav-dismiss(href="#", role="link", data-js="sidenav-dismiss")
			span.sidenav-icon.far.fa-times.fa-2x
		.sidenav-header(role="header")
			span.sidenav-user Prasanna Kugananthan
			a.sidenav-title(href="#", role="link", data-toggle='modal', data-target='#modalLogin')
				span.sidenav-icon.fas.fa-key
				| Logout
		ul.list-unstyled.components.sidenav-list(role="list")
			li.sidenav-listitem(role="listitem", class=(pageId === 'home' ? 'active' : ''))
				a.sidenav-link(href='index.html', role="link")
					span.sidenav-icon.fas.fa-home
					| Home
			li.sidenav-listitem(role="listitem", class=(pageId === 'why-bisring' ? 'active' : ''))
				a.sidenav-link(href='why-bisring.html', role="link")
					span.sidenav-icon.fas.fa-star
					| Why BisRing?
			li.sidenav-listitem(role="listitem", class=(pageId === 'about-us' ? 'active' : ''))
				a.sidenav-link(href='about-us.html', role="link")
					span.sidenav-icon.fas.fa-bookmark
					| About Us
			li.sidenav-listitem(role="listitem", class=(pageId === 'faqs' ? 'active' : ''))
				a.sidenav-link(href='faqs.html', role="link")
					span.sidenav-icon.fas.fa-question
					| FAQs
			li.sidenav-listitem(role="listitem", class=(pageId === 'careers' ? 'active' : ''))
				a.sidenav-link(href='careers.html', role="link")
					span.sidenav-icon.fas.fa-tachometer-alt
					| Careers
			li.sidenav-listitem(role="listitem", class=(pageId === 'press' ? 'active' : ''))
				a.sidenav-link(href='press.html', role="link")
					span.sidenav-icon.fas.fa-newspaper
					| Press
			li.sidenav-listitem(role="listitem", class=(pageId === 'contact-us' ? 'active' : ''))
				a.sidenav-link(href='contact-us.html', role="link")
					span.sidenav-icon.fas.fa-envelope
					| Contact Us
			li.sidenav-listitem(role="listitem", class=(pageId === 'register' ? 'active' : ''))
				a.sidenav-link(href='register.html', role="link")
					span.sidenav-icon.fas.fa-clipboard-list
					| Become a Bisringer
.sidenav-overlay(data-js="sidenav-overlay")
nav.navbar--small(role="navigation")
	a.sidenav-collapse(href="#", role="link", data-js="sidenav-collapse")
		span.sidenav-icon.fas.fa-bars
		img.sidenav-logo(src="images/logo-bisring-icon-white.png", alt="BisRing", role="img")
		span.sr-only BisRing
	h1.sidenav-page-title(role="heading")
		| #{pageTitle}
	a.sidenav-search(href="search.html", role="link")
		span.sidenav-icon.fas.fa-search
		span.sr-only Search